<header color-on-scroll="50">
    <div class="container mw-100">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" routerLink="/">
                <img src="./assets/images/logo/Saw-com-domain-name-brokerage-logo.svg" class="img-fluid" class="Logo" />
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="nav-item active">
                        <a class="nav-link px-3" routerLink="/buy">Buy</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-3" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sell</a>
                        <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/sell">Sell a Domain</a>
                            <a class="dropdown-item" routerLink="/sell-multiple">Portfolio Management</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-3" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Protect</a>
                        <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/adult-block">Adult Block</a>
                            <a class="dropdown-item" routerLink="/buy">Defensive Registration</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" routerLink="/appraisals">Appraisals</a>
                    </li>
                    <li class="nav-item dropdown" routerLinkActive="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle px-3" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://blog.saw.com/category/press/">Blog</a>
                            <a class="dropdown-item" routerLink="/faq">FAQ</a>
                            <a class="dropdown-item" routerLink="/resources">Resources</a>
                        </div>
                    </li>
                    <li class="nav-item" routerLinkActive="nav-item active">
                        <a class="nav-link px-3" routerLink="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
