<app-header-main></app-header-main>

<div id="carousel" class="carousel carousel-home slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background: url('../../assets/images/home/page-header.jpg') center center no-repeat; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 offset-lg-3 align-self">
                        <div class="carousel-caption">
                            <h1 class="mb-5">404 not found.</h1>
                            <a routerLink="/" class="btn btn-outline-white btn-rounded mt-3">Take me home.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
