<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <h1 class="title-gradient">Saw.com - Frequently Asked Questions</h1>
                <p class="text-secondary">Are you ready to find your new brand-building domain, but still have questions about how that will work? We are here to answer all of your questions to help you succeed. Our team has the knowledge and expertise to guide you from the beginning through to the successful end of your transaction.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <ul class="list-group mb-5">
                    <li class="list-group-item">
                        <a routerLink="/faq-saw">
                            <p>Saw.com - Company Services</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/faq-sites-domains">
                            <p>General - Websites and Domain Names</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/faq-domain-ownership">
                            <p>General - Domain Name Ownership</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/faq-cost-reg">
                            <p>General - Domain Name Cost and Registration</p>
                        </a>
                    </li>
                </ul>
                <br>
                <p class="faq-title-gradient-secondary mt-5">More Questions?  Call us at (781) 281-9475</p>
            </div>
        </div>
    </div>
</section>
