<footer class="bg-gradient">
    <div class="row mx-0">
        <div class="col-lg-2 col-md-12 px-3 mb-3">
            <div class="row text-left mx-0">
                <div class="col-lg-12 col-md-5 col-sm-5 col-5 px-0">
                    <a routerLink="/" class="px-2"> 
                        <img src="./assets/images/logo/footer-logo.svg" class="footer-logo img-fluid" alt="Footer logo" />
                    </a>
                </div>
                <div class="col-lg-12  col-md-1 col-sm-1 col-1 px-3" style="height: 50px;">&nbsp;</div>
                <div class="col-lg-12 col-md-5 col-sm-5 col-5 px-0">
                    <p class="px-3 mt-2">
                        <small>
                            © 2020 Saw.com
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-12 px-3">
            <div class="row text-center mx-0">
                <div class="col-md-6 col-sm-12 px-0 mb-3">
                    <div class="social">
                        <p class="text-white">
                            Questions?  Call us at (781) 281-9475
                        </p>
                        <ul class="footer-socials m-0">
                            <li>
                                <a href="https://www.facebook.com/sawcom/">
                                    <img src="./assets/images/icons/facebook.svg" width="16" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/sawsells">
                                    <img src="./assets/images/icons/twitter.svg" width="30" alt="Twitter" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/saw-com/">
                                    <img src="./assets/images/icons/linkedin.svg" width="30" alt="LinkedIn" />
                                </a>
                            </li>
                            <li class="mr-5">
                                <a href="https://www.youtube.com/channel/UCPmoATtesikiA5XCIBu4URw">
                                    <img src="./assets/images/icons/youtube.svg" width="30" alt="YouTube" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pl-0 pr-5">
                    <div class="sm-none float-right">
                        <a href="https://www.domaining.com/" onfocus="if(this.getAttribute('replaced')==null){this.setAttribute('replaced', 1); this.href='https://partner.domaining.com/link/?id=114978';} return(true);"><img src="https://partner.domaining.com/award/domaining-black-250x80.png" border=0 width=250 height=80 alt="Domain name broker recommended by Domaining.com"></a>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-3 pr-0">
                    <ul class="footer-links">
                        <li>
                            <a routerLink="/buy">
                                Buy a Domain
                            </a>
                        </li>
                        <li>
                            <a routerLink="/appraisals">
                                Domain Brokerage
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-3 pr-0">
                    <ul class="footer-links">
                        <li>
                            <a routerLink="/sell-multiple">
                                Portfolio Management
                            </a>
                        </li>
                        <li>
                            <a routerLink="/adult-block">
                                AdultBlock
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-3 pr-0">
                    <ul class="footer-links">
                        <li>
                            <a routerLink="/about">
                                About Us
                            </a>
                        </li>        
                        <li>
                            <a routerLink="/jobs">
                                Work with Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-3 pr-0">
                    <ul class="footer-links">
                        <li>
                            <a href="https://blog.saw.com/">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a routerLink="/resources">
                                Resources
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-3 pr-0">
                    <ul class="footer-links">
                        <li>
                            <a routerLink="/faq">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6 pl-3 pr-0">
                    <ul class="footer-links">
                        <li>
                            <a routerLink="/contact-us">
                                Contact Us
                            </a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="md-none w-100 text-center mt-5">
            <a href="https://www.domaining.com/" onfocus="if(this.getAttribute('replaced')==null){this.setAttribute('replaced', 1); this.href='https://partner.domaining.com/link/?id=114978';} return(true);"><img src="https://partner.domaining.com/award/domaining-black-250x80.png" border=0 width=250 height=80 alt="Domain name broker recommended by Domaining.com"></a>
        </div>
    </div>
</footer>
