<app-header-resources></app-header-resources>

<section class=" first-section">
    <div class="container">
        <div class="row mt-5  content-center">
            <div class="sidebar text-center">
                <h1 class="font-weight-bold mb-3">Success!</h1>
            </div>
        </div>
        <div class="row content-center">
            <div class="shadow contact-width"> 
                <div class="text-center">
                    <img src="../../assets/images/home/Sent.png" width="130" class="mt-5">
                </div>
                <div class="text-center mt-5">
                    <p class="mb-0">Thank you!</p>
                    <p>One of our experts will contact you within 24 hours.</p>
                    <a routerLink="/" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3 my-4">Okay</a>
                </div>
            </div>
        </div>
    </div>
</section>
