<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

    <section class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="title-md text-secondary">
                        Domain Name Registration
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>In order to use a domain name on the Internet for your company or brand, you must purchase or register the name. The domain registration process can be understood by the 3 R’s (Registry, Registrar, Registrant) and how they work together.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-1">
                    <svg width="48px" height="48px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Stockholm-icons-/-Home-/-Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                            <path d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z" id="Combined-Shape" fill="#335EEA"></path>
                        </g>
                    </svg>
                </div>
                <div class="col-lg-10">
                    <p>Registry – A registry is an organization or company that keeps a record of all domains under a certain extension. For example, Verisign is the registry that manages all .Com extension domain names. In essence, a registry is a supplier to the registrar.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-1">
                    <img src="../../assets/images/resources/registrar.png" class="img-fluid" alt="Image" />
                </div>
                <div class="col-lg-10">
                    <p>Registrar – A registrar is a company that manages the buying and selling of domain names. All registrars are credited by the overseeing entity called ICANN (Internet Corporation for Assigned Names and Numbers). To register a domain, you will typically work with a registrar service, such as GoDaddy.com, NetworkSolutions.com, or Web.com. However, you don’t need to choose between one of the mainstream registrars. There are hundreds, if not thousands of other registrars that offer many of the same services and at lower prices.</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-1"></div>
                <div class="col-lg-1">
                    <img src="../../assets/images/resources/registrant.png" class="img-fluid" alt="Image" />
                </div>
                <div class="col-lg-10">
                    <p>Registrant – This is the consumer (business, individual, or organization).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-secondary"><strong>Domain registration process:</strong></p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4">
                    <img src="../../assets/images/resources/3-Rs.png" class="img-fluid" alt="Image" />
                </div>
                <div class="col-lg-6">
                    <p>First, you (a prospective registrant) visit a registrar to purchase and register a domain name. You search to find an available name, then request registration of that domain name. The registrar will then contact the registry to register the domain. The registry will then inform the registrar on the availability of the domain name. If the name is available, the name will be added to your shopping cart to be registered. If it is not available, then it’s already registered and owned by a third party. In some cases, you can try to purchase the name from the existing registrar. In other cases, you might have to contact the existing registrant directly to negotiate a price for the name.</p>
                    <p>Like any other industry, registrars vary in price and quality of service. Some registrars operate in high volume with low margins, so they’re relatively cheap. Others are a little more expensive but offer more bells and whistles. When making a decision, you have to think about what you’d like to accomplish with the domain after you register it. Does the registrar offer hosting solutions, email, website builders, etc.? You also need to consider the price of registration versus the price of long term maintenance of your website. Some more expensive registrars offer ongoing services after registration that may balance out the price over time.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>If you’re looking to purchase a domain name and the domain name has already been registered, consider a broker like Saw.com to advise you to make the right decision on the right domain name. Our experienced professionals will make sure you’re getting the best price for your brand, your name, and your online identity.</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-8"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
                    <div class="col-lg-4"><a routerLink="/resources/buy/basics/what" class="btn btn-primary-arrow">Next - Domain Brokers - What Do They Do?<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
            </div>
        </div>
    </section>
