<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/faq">Frequently Asked Questions</a></li>
            <li class="breadcrumb-item active">Saw.com Company Services</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-12">
        <ul class="list-group mb-5">
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#what-services">
              <h2 class="faq-title-gradient">What are all the services Saw.com provides?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#how-to-sell">
              <h2 class="faq-title-gradient">How do I sell my domain(s)?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#hands-on">
              <h2 class="faq-title-gradient">I have a lot of domain experience – I don’t need advice. I just need to be
                put in touch with buyers. How hands-on is your sales approach?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#how-to-buy">
              <h2 class="faq-title-gradient">How do I buy a domain?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#trust">
              <h2 class="faq-title-gradient">How can I trust Saw.com with my domain acquisition needs?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#domain-availability">
              <h2 class="faq-title-gradient">How do I find out if a domain name is available for sale?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#premium-spend">
              <h2 class="faq-title-gradient">What should I expect to spend on a premium domain?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#why-pay">
              <h2 class="faq-title-gradient">Why should I pay so much for a premium domain? </h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#fb-why">
              <h2 class="faq-title-gradient">I have a Facebook page for my business – why do I need a domain? </h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#worth">
              <h2 class="faq-title-gradient">What is my domain worth?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#marketing">
              <h2 class="faq-title-gradient">How will the Saw.com team help me market and sell my premium domain(s)?
              </h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#appraisals">
              <h2 class="faq-title-gradient">How much does a domain appraisal cost?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#agreement-length">
              <h2 class="faq-title-gradient">How long do listing agreements last?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#sell-multiple">
              <h2 class="faq-title-gradient">Can Saw.com team help me sell more than one domain at a time?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#dont-know">
              <h2 class="faq-title-gradient">What if I don’t know what domain I want to buy?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#exclusive-buyer">
              <h2 class="faq-title-gradient">What is an exclusive buyer’s agreement?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#newsletter">
              <h2 class="faq-title-gradient">How do I sign up for your periodic newsletter?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#registrar">
              <h2 class="faq-title-gradient">Are you a registrar?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#location">
              <h2 class="faq-title-gradient">Where are you located?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#privacy">
              <h2 class="faq-title-gradient">How is my data protected?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#jobs">
              <h2 class="faq-title-gradient">I’m interested in working for Saw.com. How can I get more information?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#questions">
              <h2 class="faq-title-gradient">I do not see the answer to the question I have, can you help?</h2>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-5 mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="what-services">What are all the services Saw.com provides?
        </h2>
        <p>Saw.com provides domain acquisition services, domain sales services, and domain portfolio management
          services. Set up a time to discuss your domain needs <a routerLink="/contact-us">here</a>.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="how-to-sell">How do I sell my domain(s)?</h2>
        <p>We want to be your go-to place to help you sell domains. Listing your domains with Saw.com is easy. Set up a
          time to discuss your domain sales needs <a routerLink="/contact-us">here</a>.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="hands-on">I have a lot of domain experience – I don’t need
          advice. I just need to be put in touch with buyers. How hands-on is your sales approach?</h2>
        <p>At Saw.com, we treat each client as an individual with their own needs and expectations. We will listen to
          you and provide you the service you expect.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="how-to-buy">How do I buy a domain?</h2>
        <p>We want to be your go-to place to help you buy domains. Set up a time to discuss your domain acquisitions
          needs <a routerLink="/contact-us">here</a>.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="trust">How do I trust Saw.com with my domain acquisition
          needs?</h2>
        <p>The Saw.com team has been carefully put together by some of the most trusted and respected leaders in the
          domain field.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="domain-availability">How do I find out if a domain name is
          available for sale?</h2>
        <p>Our team is made up of experts in domain acquisitions. We have helped some of the most widely recognized
          global brands acquire highly sought-after domains and other associated digital assets. We can help you by:</p>
        <ul class="primary-list">
          <li>
            determining if the domain you desire for your business is available;
          </li>
          <li>
            providing a successful acquisition strategy; and
          </li>
          <li>
            providing a timeline to acquire the domain.
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="premium-spend">What should I expect to spend on a premium
          domain?</h2>
        <p>Each domain’s overall value is unique. At Saw.com, we have the expertise to provide an accurate valuation of
          the domain asset you need to help build your company’s brand.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="why-pay">Why should I pay so much for a premium domain?</h2>
        <p>Think of a domain name as a digital storefront. You wouldn’t want your physical storefront to be falling
          apart with rusted letters. A premium domain ensures a shiny, clean digital store front that will be attractive
          and accessible for potential customers.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="fb-why">I have a Facebook page for my business – why do I need
          a domain?</h2>
        <p class="mb-1">Facebook and other social media sites are great for direct communication with your customers.
          However, to effectively brand your business and show your customers you’re professional and legitimate, you’ll
          need a domain.</p>
        <p>Think about when you look up new restaurants to try. If you find a restaurant that only has a Facebook page,
          it can be very difficult to access their menu or find out how to make reservations, and you might choose a
          different restaurant.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="worth">What is my domain worth?</h2>
        <p>Each domain has its own unique characteristics that make it potentially valuable. Please get in touch with
          our team to schedule a consultation to discuss having an expert appraisal.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="marketing">How will the Saw.com team help me market and sell
          my premium domain(s)?</h2>
        <p>Our team has a strong track record of success in selling domains for our clients. Our proven strategy and
          process has resulted in thousands of happy clients over the past decade. Please get in touch today to learn
          more about how we can help you. <a routerLink="/contact-us">Contact us</a> for more information.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="appraisals">How much does a domain appraisal cost?</h2>
        <p>We offer a thorough professional appraisal for our client’s domains. Each domain is meticulously appraised by
          one of our experts. The price for appraisals varies on a case-by-case basis, depending on how many domains you
          need appraised and the appraisal’s level of detail. Please get in touch <a routerLink="/contact-us">here</a>
          to discuss your appraisal needs.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="agreement-length">How long do listing agreements last?</h2>
        <p>Each agreement is different, depending on the domain and the needs of the client. Most high-value domain
          sales take time. We follow a proven formula to achieve success for our clients. We expect that each time we
          are entrusted to market and sell an asset for a client, we will formulate a custom plan that will maximize the
          client’s profit.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="exclusive-agreements">What is an exclusive listing agreement?
        </h2>
        <p>An exclusive listing and marketing agreement is a mutual agreement between Saw.com and our clients who wish
          to sell a domain. This agreement allows the Saw.com team to exclusively market the asset for sale to targeted,
          qualified buyers.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="sell-multiple">Can Saw.com team help me sell more than one
          domain at a time?</h2>
        <p>Of course. Each domain seller’s portfolio is unique; no two are the same. Our team will evaluate your
          portfolio and work with you to sell one or all of your domains.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="dont-know">What if I don’t know what domain I want to buy?
        </h2>
        <p>Our team will work with you to help you define your goals and determine the best options for you with regards
          to domain acquisition. We look to target domains that will help you build and own your brand online.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="exclusive-buyer">What is an exclusive buyer’s agreement?</h2>
        <p>An exclusive buyer’s agreement is a mutual agreement between Saw.com and our clients who wish to purchase a
          domain for their business. This agreement allows the Saw.com team to exclusively pursue and negotiate on your
          behalf to purchase the asset in confidential way.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="newsletter">How do I sign up for your periodic newsletter?
        </h2>
        <p>Please contact us for more information <a routerLink="/contact-us">here</a>.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="registrar">Are you a registrar?</h2>
        <p>Saw.com is not a domain registrar. However, we partner with several registrars we can recommend that can
          assist with your domain registrations. Please contact us at <a mailto="sales@saw.com">sales@saw.com</a>.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="location">Where are you located?</h2>
        <p>We are based in the Boston, MA metropolitan area and have team members located globally.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="privacy">How is my data protected?</h2>
        <p>We take your privacy very seriously and will do everything we can to protect your personal data. Please refer
          to our <a routerLink="/privacy-policy">Privacy Policy</a> for more information.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="jobs">I’m interested in working for Saw.com. How can I get
          more information?</h2>
        <p>Great! Visit our <a routerLink="/jobs">jobs</a> page to browse our openings.</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="questions">I do not see the answer to the question I have, can
          you help?</h2>
        <p>Of course. Please contact us <a routerLink="/contact-us">here</a>.</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <p class="faq-title-gradient-secondary mt-5">Questions? Call us @ (781) 281-9475</p>
      </div>
    </div>
  </div>
</section>
