<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Domain Brokers - What Do They Do?
                </h1>
                <img src="../../assets/images/resources/broker-venn.png" class="img-fluid mb-5" alt="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>The easiest way to understand domain brokerage is to think of real estate agents. In real estate, agents work on behalf of buyers and sellers to help negotiate real estate sales. Like real estate agents, domain brokers work on behalf of buyers and sellers to help negotiate and sale of domain names. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Domain brokerage can be broken up into three types: Buyer’s Broker, Seller’s Broker, and Dual Agency.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <p><strong>Buyer's Broker</strong></p>
            </div>
            <div class="col-lg-10">
                <p>When someone wants to <strong>buy</strong> a domain, they can procure the services of a domain broker. If they choose to do so, they become the client of the broker, and the broker becomes their representative.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <p>As the buyer’s representative, the broker provides the buyer his or her utmost loyalty, care, accountability, and transparency. The broker must put the needs of the buyer first and negotiate the best price and terms from the buyer’s perspective.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <p><strong>Seller's Broker</strong></p>
            </div>
            <div class="col-lg-10">
                <p>When someone wants to <strong>sell</strong> a domain, they can also procure the services of a domain broker. If a seller chooses to use the services of a listing broker, they become the client of the broker, and the broker becomes their representative.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <p>Just like a buyer’s broker, a seller’s broker owes his or her client their utmost loyalty, care, accountability, and transparency.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <p>For the seller’s broker, the seller’s interests come first. The broker must negotiate the best price and terms from the seller’s perspective.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <p><strong>Dual Agency (or Dual Brokerage)</strong></p>
            </div>
            <div class="col-lg-10">
                <p>A dual agency occurs when a buyer is represented by the same agency that owns the listing. It can also occur when both the buyer and seller are represented by the same agent in one transaction.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <p>Just like in real estate, some brokerage firms allow dual agency transactions, provided the broker obtains informed consent from both parties. Once obtaining informed consent, the broker becomes a dual broker and represents bother the buyer and the seller. In this situation, the broker must provide both the buyer and seller with fair, transparent representation. <em>However, the broker is not expected to provide undivided loyalty and care to either party</em>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <strong>Returning to Real Estate</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>An important distinction between real estate and domain brokering is that domain brokers are not required to be licensed in any way. With regards to dual agency transactions, there is no legal requirement for brokers to obtain the informed consent of their clients. This means that sometimes brokers do not disclose dual representation. To avoid this, always ask your broker about the other party that is being represented.<p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>At Saw.com, we hold ourselves to the highest standards of transparency, fairness, and service to our clients. We will always disclose the nature of how your transaction is being represented, and we will always negotiate the best possible price for all of our clients – buyers and sellers. <p>
                <p>Please speak with a qualified Sales Consultant to order a Domain Appraiser from an <a routerLink="/contact-us">industry expert</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
            <div class="col-lg-3"><a routerLink="/resources/buy/appraisals/how" class="btn btn-primary-arrow">Next - How are Domains Appraised?<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>


