<app-header-resources></app-header-resources>

<section class="first-section custom-section">
    <div class="custom-row overflow-auto">
        <div class="float-right first-tab text-center mobile-none mt-3 pr-0">
          <div class="mt-5">
            <img src="../../assets/images/sell-domain/Saw-Com-Sell-domain-Name.png" width="200">
          </div>
        </div>
        <div class="float-right second-tab mt-3">
            <p class="">Sell Domain</p>
            <h2>Need to sell a domain quickly, easily and for the best price?</h2>
            <p>Our track record involving over <span class="font-weight-bold">$400 million</span> in domain sales over the years makes it clear – selling  premium digital assets in the aftermarket is our specialty. We begin our time-tested process by discussing the asset(s) you would like to sell and determine if they are valuable enough to warrant a comprehensive sales campaign.</p>
            <p>Then, we schedule an appointment to discuss this opportunity. In a nutshell, here is how the process works:</p>
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3">Book Free Consultancy</a>
        </div>
    </div>
</section>

<section>
    <div class="sell-row">
        <h1 class="font-weight-bold">How it works?</h1>
        <div class="row px-0">
            <div class="col-sm-12 col-md-6 col-lg-3 px-2">
                <div class="border-secondary-rounded bg-white p-3 mt-3">
                    <div class="overflow-auto position-relative custom-height-1">
                        <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Consult</h3>
                        <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">1</p>
                        <p class="position-absolute mb-0" style="top: 90px;">Engage in a brief discussion involving your domain name(s), the industry they are related to, and sales price expectations.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 px-2">
                <div class="border-secondary-rounded bg-white p-3 mt-3">
                    <div class="overflow-auto position-relative custom-height-1">
                        <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Strategize</h3>
                        <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">2</p>
                        <p class="position-absolute mb-0" style="top: 90px;">Determine the fair market value of the domain name(s) and put together a coherent sales plan that we implement over a period of approximately six months.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 px-2">
                <div class="border-secondary-rounded bg-white p-3 mt-3">
                    <div class="overflow-auto position-relative custom-height-1">
                        <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Market</h3>
                        <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">3</p>
                        <p class="position-absolute mb-0" style="top: 90px;">Roll up our sleeves and chase leads by identifying decision-makers at relevant companies. We compliment this approach by issuing press releases and articles to industry-specific websites.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 px-2">
                <div class="border-secondary-rounded bg-white p-3 mt-3">
                    <div class="overflow-auto position-relative custom-height-1">
                        <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Sell</h3>
                        <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">4</p>
                        <p class="position-absolute mb-0" style="top: 90px;">Make the deal. At Saw.com we strongly believe in the importance of choosing licensed and bonded escrow companies to help protect your assets and your proceeds.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button text-capitalize py-3 my-3">Start Now</a>
        </div>
    </div>
</section>

<section class="bg-gradient-gray">
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Not sure how much you can expect?</h1>
        <div class="float-right first-tab text-center mb-5 pr-0">
            <img class="w-100" src="../../assets/images/sell-domain/Saw-Com-Sell-your-domain-name.png" >
        </div>
        <div class="float-right second-tab">
            <p>Domain valuation is anything but easy, and as such, we aim to guide clients through the entire process. We provide a professional estimate based on variables such as:</p> 
            <ul class="float-left list-secondary">
                <li class="mb-3">
                    <span class="font-weight-bold">Name suffix.</span>
                    Is the domain a .com, a generic top-level domain (gTLD) or a country-specific top-level domain (ccTLD)? Depending on the answer, we will explain what the valuation-related implications tend to be
                </li>
                <li class="mb-3">
                    <span class="font-weight-bold">Name length.</span>
                    As a general idea, short domain names are worth more. Of course, there are nuances involved, and we will be happy to go through them with clients.
                </li>
                <li class="mb-3">
                    <span class="font-weight-bold">Spelling and abbreviations.</span>
                    The average person tends to be notoriously bad at spelling, so we will also analyze each domain from this perspective to determine how easy it is to type and whether it is prone to generating confusion.
                </li>
                <li>
                    <span class="font-weight-bold">Industry-specific variables.</span>
                    There is a world of difference between selling to under-funded startups and having a multinational conglomerate as a potential buyer, so we will work diligently to create an accurate (potential) end-user profile.
                </li>
            </ul>
            <p>In a nutshell, we will provide everything clients need to make the right valuation and sales approach-related decisions.</p>
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize mt-1 py-3">Speak With An Expert</a>
        </div>
    </div>
</section>

<section>
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3 custom-title">Ready to sell?</h1>        
        <div class="float-left first-tab text-center mb-5 pl-0">
            <img class="w-100" src="../../assets/images/sell-domain/Saw-Com-Ready-To-Sell.png" >
        </div>
        <div class="float-left second-tab">
            <h4 class="font-weight-bold">Let us know:</h4>
            <ul class="list-secondary">
                <li class="mb-3">How motivated you are to sell and the timeline (if any) you have in mind</li>
                <li>What you feel the appropriate sales price should be</li>
            </ul>
            <p>The Saw.com team has time-tested connections to an extended network of premium domain buyers as well as an experienced sales team that is ready to generate fresh leads, enabling us to find the right balance between sales price expectations and time/liquidity constraints.</p>
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize mt-1 py-3">Speak With An Expert</a>
        </div>
    </div>
</section>

<section class="back-img">
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Not sure what your portfolio is worth?</h1>
        <div class="float-right first-tab text-center mb-5 pr-0">
            <img class="w-100" src="../../assets/images/sell-domain/Saw-Com-Portfolio-Appraisal.png" >
        </div>
        <div class="float-right second-tab">
            <h4 class="font-weight-bold">Let's discuss:</h4>
            <ul class="list-secondary">
                <li class="mb-3">Your 3-5 top domains</li>
                <li>What you think they’re worth</li>
            </ul>
            <p>Our experts will give you an idea of what your domains are likely to sell for and what you can expect to profit. Then, we'll help you manage your sales opportunities so you get the most from your assets.</p>
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize mt-1 py-3">Speak With An Expert</a>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header border-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">    
        <div class="row content-center">
            <div class="sidebar text-center">
                <h1 class="font-weight-bold mb-3">Contact Us</h1>
                <p class="">Regarding a Domain Selling</p>
                <h4 class="font-weight-bold text-secondary">Call +1 (781) 281-9475</h4>
                <p class="">EST time from 9 AM to 5 PM</p>
                <p class="">Or</p>
            </div>
        </div>
        <app-contact [servicesNeeded]="'Sell'"></app-contact>
    </div>
</ng-template>
