.custom-height-1 {
    height: 380px;
    @media (max-width: 991px) {
        height: 280px;
    }
    @media (max-width: 767px) {
        height: auto;
    }
}
.sell-row {
    width: 90%;
    margin: 0 5%;
    @media (max-width: 991px) {
        width: 80%;
        margin: 0 10%;
    }
}