<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="custom-row overflow-auto">
        <div class="float-right first-tab mt-3 pr-0">
            <div class="embed-responsive embed-responsive-16by9 mt-5">
                <iframe class="embed-responsive-item" [src]="youtube_url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
        </div>
        <div class="float-right second-tab mt-3">
            <p class="">About Us</p>
            <h2>We love domains and everything they encompass!</h2>
            <p>As such, we have made it our mission to help entities that understand digital assets' role in the 21st century every step of the way, from company naming and brand protection to domain selling.</p>
            <a routerLink="/contact-us" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3 my-3 ml-5">Let us help you</a>
        </div>
    </div>
</section>

<section class="bg-gradient-gray">
    <div class="custom-row mb-5 overflow-auto">
        <div class="second-tab float-left">
            <p>Jeffrey M. Gabriel and Amanda Waltz have founded Saw.com. We have seen what a powerful, positive domain can do for a company, and envisioning and facilitating online branding success stories is what drives us! </p>
            <p>We founded Saw.com to put our knowledge and expertise at your disposal. Our mission is to create a place where customers know what's happening when they buy or sell their domains every step of the way and what they are getting for their assets or money.</p>
            <p>Through domain brokerage, appraisal, and portfolio management services that meet our high standards, we've helped entrepreneurs and businesses of every size get the impact they deserve.</p>
            <p>Let us help you be seen!</p>
        </div>
        <div class="first-tab float-left">
            <div class="bg-white overflow-auto mt-3 custom-div">
                <div class="float-left">
                    <img src="../../assets/images/about/Saw-com-domain-broker-jeffrey-gabriel.png" width="120" />
                </div>
                <div class="float-left p-3">
                    <h4>Jeffrey Gabriel</h4>
                    <p class="mb-0">Co. Founder</p>
                    <a href="https://www.linkedin.com/in/jeffreymgabriel/">
                        <img class="icon-img" src="../../assets/images/about/2111532.svg"/>
                    </a> 
                </div>
            </div>
            <div class="bg-white overflow-auto mt-3 custom-div">
                <div class="float-left">
                    <img src="../../assets/images/about/Saw-com-amanda-waltz-domain-name-broker.png" width="120" />
                </div>
                <div class="float-left p-3">
                    <h4>Amanda Waltz</h4>
                    <p class="mb-0">Co. Founder</p>
                    <a href="https://www.linkedin.com/in/amandalucaswaltz/">
                        <img class="icon-img" src="../../assets/images/about/2111532.svg"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Why Saw.com?</h1>
        <div class="float-right first-tab text-center mb-5 pr-0">
            <img class="w-100" src="../../assets/images/about/Saw-com-domain-name-brokers.jpg" >
        </div>
        <div class="float-right second-tab">
            <p>We help you buy, sell, and trade your domains in a genuinely revolutionary manner.</p>
            <p>No matter the nature, stage, or size of your company, we are here to support you in your daily activities and help you to focus on what you do best.</p>
            <p>Our unique approach revolves around always focusing on our clients' needs first. Our customer referrals speak volumes about the value we provide to customers, many of whom do not hesitate to send repeat business our way.</p>
            <a routerLink="/contact-us" class="text-white bg-secondary border-secondary btn btn-rounded size-button1 center-mobile text-capitalize py-3">Speak With An Expert</a>
        </div>
    </div>
</section>

<section>
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3 custom-title">Why the name Saw.com?</h1>        
        <div class="float-left first-tab text-center mb-5 pl-0">
            <img class="w-100" src="../../assets/images/about/Saw-com-domain-names-brokerage.jpg" >
        </div>
        <div class="float-left second-tab">
            <p>We have the opportunity to show what a short, memorable, easy to spell, and positive-sounding domain can do for a new business, product, or service. Therefore, we believe in practicing what we preach are merely following the same advice that we always give to clients.</p>
            <p>The Saw.com team is looking forward to serving you!</p>
            <a routerLink="/contact-us" class="text-white bg-secondary border-secondary btn btn-rounded size-button1 center-mobile text-capitalize py-3">Speak With An Expert</a>
        </div>
    </div>
</section>
