<app-header-resources></app-header-resources>

<section class="first-section custom-section">
    <div class="custom-row overflow-auto">
        <div class="float-right first-tab text-center mobile-none mt-3 pr-0">
          <div class="mt-5">
            <img src="../../assets/images/appraisals/Saw-Com-Domain-Name-Appraisal.png" width="200">
          </div>
        </div>
        <div class="float-right second-tab mt-3">
            <p class="">Appraisals</p>
            <h2>Need to evaluate a single domain or your entire portfolio?</h2>
            <p>Appraising domains (properly) is not a skill one acquires from textbooks. The founders of Saw.com, with over <span class="font-weight-bold">$400 million</span> in combined sales under their belts, can attest to that first-hand.</p>
            <p>Why trust an amateur with appraising your most prized digital assets?</p>
            <h6 class="font-weight-bold">Price starts from $199</h6>
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize mt-3 py-3">Start Now</a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1 class="font-weight-bold">How it works?</h1>
        <p>Domain appraisals begin at $199 and revolve around a streamlined process that is continuously fine-tuned in the spirit of optimization. We begin with a phone call or written consultation so that you can explain your business needs and plans moving forward. Once payment is secured, a professional multi-page appraisal will be delivered within 3-5 business days.</p>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="border-secondary-rounded bg-white p-3 mt-3">
                    <div class="overflow-auto position-relative custom-height-2">
                        <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Submit</h3>
                        <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">1</p>
                        <p class="position-absolute mb-0" style="top: 90px;">Please submit your name or names to our Brokerage to review and one of our Domain Brokers will get back to you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="border-secondary-rounded bg-white p-3 mt-3">
                    <div class="overflow-auto position-relative custom-height-2">
                        <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Appraise</h3>
                        <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">2</p>
                        <p class="position-absolute mb-0" style="top: 90px;">Domain Appraisals begin at $199. Receive a comprehensive multi-page appraisal that covers all of the most common and other not-so-common metrics.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="border-secondary-rounded bg-white p-3 mt-3">
                    <div class="overflow-auto position-relative custom-height-2">
                        <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Consult</h3>
                        <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">3</p>
                        <p class="position-absolute mb-0" style="top: 90px;">Once the appraisal is complete and delivered, our Domain Brokers will schedule a call to review the findings and consult on the best next steps.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button text-capitalize py-3 my-3">Start Now</a>
        </div>
    </div>
</section>

<section class="bg-gradient-gray">
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Understanding Your Asset(s)</h1>
        <div class="float-right first-tab text-center mb-5 pr-0">
            <img class="w-100" src="../../assets/images/appraisals/Saw-com-domain-appraisal.jpg" >
        </div>
        <div class="float-right second-tab">
            <p>Our appraisals revolve around transparency, personalization, and comprehensive analysis. Some of the metrics we include in our equation oftentimes end up being overlooked by competing services when assessing the current market value of a digital asset and that, in our view, is unacceptable.</p> 
            <p>From internal metrics such as domain age and comparable sales data to external ones such as market trends, we believe in embracing an “A to Z” approach with respect to digital asset appraisals.</p>
            <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize mt-1 py-3">Start Now</a>
        </div>
    </div>
</section>

<section class="custom-section">
    <div class="row mt-5 mx-0">
        <div class="col-lg-7 font-weight-normal ml-4">
            <h1 class="font-weight-bold ml-0">How Are Domains Appraised?</h1>
        </div>
        <div class="col-lg-5 pr-0"></div>
    </div>
    <div class="row mt-3 mx-0">
        <div class="col-lg-7 font-weight-normal">
            <div class="ml-4">
                <p>Like real estate appraisals, domain appraisals calculate different variables to come up with dollar amounts. But while there are many similarities, a key difference is represented by the regulation dimension. When real estate is appraised, the appraiser puts his name on the line, placing his or her credentials on the first or second page of the appraisal. As such, digital real estate appraisers are typically licensed and know all too well that abuse or lack of professionalism can come with severe legal consequences.</p>
                <p>The same principle does not apply in the world of digital asset appraisals, and, unfortunately, fraud and lack of professionalism are far more common. This leads us to the elephant in the room – being ultra-selective when choosing an appraiser is much more important in the domain appraising world.</p>
            </div>
        </div>
        <div class="col-lg-5 pr-0" style="background: url('../../assets/images/appraisals/Saw-com-how-are-domains-appraised.png') center center no-repeat;background-size: cover;">
        </div>
    </div>
</section>

<section>
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3 custom-title">What Comes Next?</h1>        
        <div class="float-left first-tab text-center mb-5 pl-0">
            <img class="w-100" src="../../assets/images/appraisals/img-2.jpg">
        </div>
        <div class="float-left second-tab">
            <p>After the appraisal process has been finalized, we look forward to potentially taking our collaboration to the next level by actively seeking out buyers for the asset(s) in question.</p>
            <p>We will do our best to put together a battle plan based on your needs and goals for selling (from generating additional capital quickly to maximizing results in terms of sales prices). From there, we’ll diligently implement the plan in question to ultimately close the deal (our specialty).</p>
            <a (click)="open(content)" class="text-white bg-secondary border-secondary btn btn-rounded size-button1 center-mobile text-capitalize py-3">Speak With An Expert</a>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header border-0">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">    
        <div class="row content-center">
            <div class="sidebar text-center">
                <h1 class="font-weight-bold mb-3">Contact Us</h1>
                <p class="">Regarding Appraisals</p>
                <h4 class="font-weight-bold text-secondary">Call +1 (781) 281-9475</h4>
                <p class="">EST time from 9 AM to 5 PM</p>
                <p class="">Or</p>
            </div>
        </div>
        <app-contact [servicesNeeded]="'Appraisals'"></app-contact>
    </div>
</ng-template>
