<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

    <section class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row mb-2">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-6">
                            <img src="../../../assets/images/resources/whats_in_a_name.jpg" class="img-fluid" alt="Image" />
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <p>
                                    The below logos demonstrate the power of branding in our society. With a powerful brand, a simple logo tells customers everything they need to know. I’d bet you can guess the brands of the below logos, but also the domain names (which go hand-in-hand). Amazon.com, McDonalds.com, and Disney.com.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"><img src="./assets/images/resources/amazon.png" class="img-fluid mb-5" alt="Image" /></div>
                        <div class="col-lg-4"><img src="./assets/images/resources/mcds.png" class="img-fluid mb-5" alt="Image" /></div>
                        <div class="col-lg-4"><img src="./assets/images/resources/disney.png" class="img-fluid mb-5" alt="Image" /></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="mb-5">
                                    Of course, these are three of the most valuable brands in the world. Powerful branding is one reason for their success. This exercise shows how important it is to build an effective brand identity, both online and offline.
                            </p>
                            <p class="mb-5">
                                    As consumers, we are constantly blasted by branding – when we use our phones, when we use our laptops, when we watch TV – it really never stops. Marketing professionals take advantage of every opportunity they have to show use their brand and implant it into our minds.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                Take GEICO insurance for example. When you think of GEICO, what do you think of? You might think of a caveman, a lizard, or the phrase “15 minutes could save you 15% or more on car insurance.” Whatever image your brain conjures up, you associate it with the name GEICO. So, if you wanted to get a quote from GEICO online, where do you think you’d go? GEICO.com, naturally. This web address is intuitive because it matches the brand. It’s the name customers associate with the company, so it’s the name they expect to find services.
                            </p>
                        </div>
                        <div class="col-lg-4">
                                <img src="./assets/images/resources/geico.png" class="img-fluid mb-5" alt="Image" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 mt-5">
                            <p>If you wanted to shop for a new Subaru car, you’d probably type Subaru.com into your browser. Even if you didn’t know who owns the domain, you’d expect to find Subaru cars on Subaru.com.</p>
                        </div>
                        <div class="col-lg-4">
                                <img src="./assets/images/resources/subaru.png" class="img-fluid mb-5" alt="Image" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            Regardless of how you plan to use a domain name, it should match your brand, whether it’s your personal brand or the brand of your company. This is what our customers expect, and this is how they will find you most easily.
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-7"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
                            <div class="col-lg-5"><a routerLink="/resources/gvnsg" class="btn btn-primary-arrow">Next - Good Branding Versus Not-So-Good Branding<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
