<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/faq">Frequently Asked Questions</a></li>
            <li class="breadcrumb-item active">Domain Name Ownership</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <ul class="list-group mb-5">
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#do-i-need">
              <h2 class="faq-title-gradient">Do I need domain privacy?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#when-you-buy">
              <h2 class="faq-title-gradient">When you buy a domain is it yours forever?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#can-someone">
              <h2 class="faq-title-gradient">Can someone steal your domain name?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#can-i-buy">
              <h2 class="faq-title-gradient">Can I buy a domain and just let it sit there?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#most-expensive">
              <h2 class="faq-title-gradient">What are the most expensive domain names?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#pay-each-year">
              <h2 class="faq-title-gradient">Why do I have to pay each year to keep my domain name?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#where-i-purchase">
              <h2 class="faq-title-gradient">Does it matter where I purchase my domain?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#domain-buy-service">
              <h2 class="faq-title-gradient">What is domain buy service?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#domain-squatting">
              <h2 class="faq-title-gradient">What is domain squatting?</h2>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="do-i-need">Do I need domain privacy?</h2>
        <p>
          Most domain registrars (GoDaddy, Network Solutions, etc.) offer domain privacy service or ‘whois protection’
          as an add-on to hosting service.
          Typically for a monthly fee for as much as $10, or per year the service replaces the user’s personal
          information used to register the domain
          in the <a routerLink="/resources/buy/basics/how">Whois</a> database with anonymized information. For example,
          it replaces your name and email with the information of the hosting service
          done through a proxy server. Domain privacy protects against your personal information being used for
          fraudulent purposes, ranging from phishing
          attacks, cyberstalking, to identity theft. In the digital world, personal data is a hugely valuable commodity;
          a commodity we should not allow
          in the wrong hands. Domain privacy is a small price to pay (some privacy services are even free) for peace of
          mind. The poor man’s version of
          privacy is to put a free email address for nothing but your whois information and keep in mind that your
          registrar is really the only
          entity you need to respond to there no matter what people say unless it is a legal matter.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="when-you-buy">When you buy a domain is it yours forever?</h2>
        <p>
          No. When you “buy” a domain you are essentially paying a domain registry for the rights to register and use
          the domain for one year.
          However, some domain extensions can be registered for up to ten years without the need to renew each year.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="can-someone">Can someone steal your domain name?</h2>
        <p>
          Yes. This is known as domain hijacking. Domain names can be stolen just like any other form of property.
          Domain thieves steal domain
          names by gaining access into the account that is used to manage the domain registration. Usually this is done
          by hacking into the
          email address of record for the domain (remember, you can hide your email address of record by using a Whois
          privacy service). Once
          they have access to your account, they can transfer the registration of the domain without your consent.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="can-i-buy">Can I buy a domain and just let it sit there?</h2>
        <p>
          Yes. You can buy and register a domain name without creating a website or hosting it. There are a handful of
          reasons someone
          might register a domain without building a website. For example a startup might register multiple potential
          domain names if they’re
          still in the planning phase and haven’t settled on a name. They might have a lot of options and want to
          “reserve” all of their options.
          Then, once a name is decided, they could sell the domains they had been holding onto.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="most-expensive">What are the most expensive domain names?</h2>
        <p>
          Many domain sales are not reported publicly, so we can’t say with 100% the highest sales ever made. However,
          most agree with a
          handful of the highest sales ever reported, and they’re in the tens of millions. For example, Voice.com sold
          in 2019 for $30 million,
          while our Co-founder sold Sex.com for 13,000,000 USD. Do you have a multi-million-dollar domain in your back
          pocket? Find out today
          with our <a routerLink="/appraisals">domain appraisal service</a>. With decades of experience brokering
          multimillion-dollar domains, we provide accurate and complete
          domain price estimates for a single domain or your whole portfolio.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="pay-each-year">Why do I have to pay each year to keep my
          domain name?</h2>
        <p>
          The annual fee you pay a registrar for your registration keeps your domain “active” on the Internet. Instead
          of owning a physical
          object that you keep permanently, owning a domain is more like “renting” the rights to use that domain. Domain
          registration fees depend
          on the registrar, but most run from between $10 to $20 per year. The registration fees go to the registrar,
          registry and ICANN.
          If you are unhappy with the price of your service of your current registrar, you can always transfer your
          registration to a different registrar. There are thousands!
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="where-i-purchase">Does it matter where I purchase my domain?
        </h2>
        <p>
          Registrars each offer the same basic service – administering domain registration between ICANN and its
          customers. However,
          each registrar offers unique service features such as added security, Whois privacy, custom email, customer
          support, reminder emails, etc.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="domain-buy-service">What is domain buy service?</h2>
        <p>
          Domain buy service is also known as domain broker service or domain acquisition service. If you want to buy a
          domain name but it is
          already registered, one of our Sales Consultants can work to acquire the domain for you at a reasonable price.
          Our team does all the
          heavy lifting and dirty work to find the owner and negotiate a great deal on your behalf. Set up a time to
          discuss your domain acquisition needs
          <a routerLink="/contact-us">here</a>.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="domain-squatting">What is domain squatting?</h2>
        <p>
          Domain squatting is when someone buys a domain name to prevent a legitimate business from registering it and
          profit from reselling it.
          For example, a domain squatter might search local business license records, find one that hasn’t yet
          registered their business name as a domain,
          and snatch up the name for cheap. Then, they’ll contact that business to sell them the name. Usually
          businesses are willing to pay the price
          instead of going to court or changing their name. In most states and countries, domain squatting is illegal.
          It all comes down to intent. If
          the purchase was made in “bad faith,” then it’s considered domain squatting. The problem is that is can be
          very difficult to prove bad faith.
          Let us be clear, a domain owner that registered or purchased the domain name your company happens to want
          years before your company was founded
          is not a squatter. To protect yourself from domain squatters, make sure to register your domain as soon as
          possible, register similar names with
          multiple extensions, and register a trademark for your name. We might also suggest you register common typos
          of your domain name and forward them
          to that domain. This is actually another service we offer which is called Brand Protection. Please <a
            routerLink="/contact-us">click here</a> to speak
          to a Sales Consultant about our Brand Protection services.
        </p>
      </div>
    </div>
  </div>
</section>
