<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="sidebar">
                    <h1 class="title-gradient">Resources</h1>
                    <p class="text-secondary">We value complete transparency for our sales approach. That means helping you understand our end-to-end process and the domain name industry as a whole, so you can make informed, confident decisions. Our experts have created a resource of knowledge to streamline your buying, selling, and portfolio management.</p>
                </div>
            </div>
            <div class="col-lg-9">
                <h2 class="resources-title-gradient">Introduction - Domains 101</h2>
                <ul class="list-group mb-5">
                    <li class="list-group-item">
                        <a routerLink="/resources/what">
                            <p>What is a Domain Name?</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/why">
                            <p>Why Purchase a Domain Name?</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/whatsin">
                            <p>What's in a Name?  The Power of Branding</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/gvnsg">
                            <p>Good Branding Versus Not-So-Good Branding</p>
                        </a>
                    </li>
                </ul>
                <h2 class="resources-title-gradient">Buying a Domain - The Basics</h2>
                <ul class="list-group mb-5">
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/basics/how">
                            <p>How to Find the Owner of a Domain Name</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                            <a routerLink="/resources/buy/basics/reg">
                                <p>Domain Name Registration</p>
                            </a>
                        </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/basics/what">
                            <p>Domain Brokers - What Do They Do?</p>
                        </a>
                    </li>
                </ul>
                <h2 class="resources-title-gradient">Buying a Domain - Domain Appraisals</h2>
                <ul class="list-group mb-5">
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/appraisals/how">
                            <p>How are Domains Appraised?</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/appraisals/metrics">
                            <p>Domain Appraisal Metrics</p>
                        </a>
                    </li>
                </ul>
                <h2 class="resources-title-gradient">Buying a Domain - Purchasing Your Domain</h2>
                <ul class="list-group mb-5">
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/purchasing/what">
                            <p>What Kind of Domain Should I Buy?</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/purchasing/how">
                            <p>How Can You Find Your Own Weather.com?</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/purchasing/consult">
                            <p>Domain Acquisition Consultation?</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/buy/purchasing/taken">
                            <p>How Do I Buy a Domain Name that is Taken?</p>
                        </a>
                    </li>
                </ul>
                <h2 class="resources-title-gradient">Miscellaneous</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a routerLink="/resources/misc/first-100">
                            <p>First 100!</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/misc/archive-dot-org">
                            <p>Archive.org</p>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/resources/misc/internet-history">
                            <p>A (Brief) History of the Internet</p>
                        </a>
                    </li>
                </ul>
                <br>
                <p>Looking for more?  Try our <a routerLink="/faq">Frequently Asked Questions</a>.</p>
            </div>
        </div>
    </div>
</section>
