<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Buying a Domain - Purchasing Your Domain
                </h1>
                <h2 class="title-md text-secondary">Domain Acquisition Consultation?</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-12">
                <img src="../../../assets/images/resources/domain_acquisition_c_QIJFn.jpg" class="img-fluid" alt="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>What happens?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>In my experience, I always start with a phone call with the buyer. I must understand the buyer’s needs before I begin the work to acquire a domain on behalf of a buyer. Back to my home-buying analogy, I would think it would be strange if I never spoke to my Realtor before he or she looks to find me and my family our dream home. How could they do a great job without understanding the situation? </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-secondary">Before the Call</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>If you have a domain already picked out that you would like to acquire, it would be infinitely beneficial to know what that domain is before the call. Then we can then do some preliminary research and a basic appraisal on the domain name. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-secondary">During the Call</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>When we speak for the first time, I like to know who I am working with. I tend to ask basic questions about the plans for the business (budget, timing, size, etc.). Wanting an NDA is within reason. This is what I want to know in a nutshell: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>#1 - What is the name ahead of time. I can find out what I think it is worth, research the owner, and see what is happening on the domain right now. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>#2 - I would like to have an understanding of what the proposed budget is for purchasing the domain name. I will provide my professional opinion if that budget coincides with the fair market value of the domain or if we are running a fool’s errand.  Once the discussion is completed, an agreement will be sent, executed; then, the work will commence.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>#3 - When do you need the domain by? This is a big one. Coming in hard and fast can create the idea of desperation in the seller’s mind, and thus a higher price. We need to test the waters. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>#4 - Have you contacted the owner already? If so, what was communicated, and what was offered. What was their response? I ask that the client forwards me this information.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I have had people leave those details out and the approach that is taken is potentially the wrong one. The more information we have, the better we can serve our clients. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-secondary">After the Call</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Once the discussion is completed, a signed agreement will be sent, and the work will commence.  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
            <div class="col-lg-3"><a routerLink="/resources/buy/purchasing/taken" class="btn btn-primary-arrow">Next - How Do I Buy a Domain Name that is Taken?<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>
