<app-header-resources></app-header-resources>

<section class="first-section">
  <div class="custom-row overflow-auto">
      <div class="float-right first-tab text-center mobile-none mt-3 pr-0">
        <div class="mt-5">
          <img src="../../assets/images/buy-domain/Saw-Com-Buy-Domain-Name.png" width="200">
        </div>
      </div>
      <div class="float-right second-tab mt-3">
          <p class="">Buy domain</p>
          <h2>Are you starting a business, launching new products, or rebranding?</h2>
          <p>Our Domain Buy Service has exclusive access to an extensive network that makes buying a domain efficient, effortless, and stress-free. Our experts can help you find a domain that speaks powerfully for your brand.</p>
          <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3">Start here</a>
      </div>
  </div>
</section>

<section class="back-img">
  <div class="container">
    <h1 class="font-weight-bold">How it works?</h1>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="border-secondary-rounded bg-white p-3 mt-3">
          <div class="overflow-auto position-relative custom-height-1">
            <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Meet</h3>
            <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">1</p>
            <p class="position-absolute mb-0" style="top: 90px;">Book a free consultation with one of the members of our Domain Buy Service. We will go over the entire process of buying a web domain and determine the optimal course of action to secure your business's best possible domain.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="border-secondary-rounded bg-white p-3 mt-3">
          <div class="overflow-auto position-relative custom-height-1">
            <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Contact</h3>
            <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">2</p>
            <p class="position-absolute mb-0" style="top: 90px;">Establish contact with the domain owner. This is not as easy as it seems, given that many of the best names are either owned by large companies or investors who might be hard to contact.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="border-secondary-rounded bg-white p-3 mt-3">
          <div class="overflow-auto position-relative custom-height-1">
            <h3 class="text-uppercase font-weight-bold float-left position-absolute" style="top: 45px;">Acquire</h3>
            <p class="float-right font-weight-bold text-secondary position-relative num-opacity" style="font-size: 100px; top: -45px;">3</p>
            <p class="position-absolute mb-0" style="top: 90px;">Negotiate favorable terms in a reasonable amount of time with minimal effort.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button text-capitalize py-3 my-3">Start Now</a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="font-weight-bold">Increase your impact with Saw.com</h1>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="border-secondary-rounded p-3 mt-3 custom-height-1">
          <p class="text-secondary font-weight-bold text-center" style="font-size: 70px;">20<span class="font-weight-bold text-uppercase" style="font-size: 35px;">years</span>
          </p>
          <h3 class="font-weight-bold">Experience</h3>
          <p>Our Buy Service Brokers have an average of 9 years in industry experience and over 20 years of sales experience.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="border-secondary-rounded p-3 mt-3 custom-height-1">
          <p class="text-secondary font-weight-bold text-center" style="font-size: 70px;">1000<span class="font-weight-bold text-uppercase" style="font-size: 35px;">s</span>
          </p>
          <h3 class="font-weight-bold">Success</h3>
          <p>Involved in thousands of successful transactions</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="border-secondary-rounded p-3 mt-3 custom-height-1">
          <p class="text-secondary font-weight-bold text-center" style="font-size: 70px;">100<span class="font-weight-bold text-uppercase" style="font-size: 35px;">%</span>
          </p>
          <h3 class="font-weight-bold">Transparency</h3>
          <p>We hold ourselves to the highest standards and make sure the process is 100% transparent.</p>
        </div>
      </div>      
    </div>
  </div>
</section>

<section class="bg-secondary py-0 position-relative half-section">
  <div class="custom-row overflow-auto">
    <div class="float-right first-tab text-center circle-tab">
      <div class="bg-white circle-img ">
        <img src="../../assets/images/buy-domain/Saw-Com-Domain-Buy-Service-price.png" width="200">
      </div>
    </div>
    <div class="float-right second-tab text-white py-5">
        <h2 class="">This service starts at $249.00</h2>
        <h5>However, consultations are always complimentary. </h5>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="font-weight-bold">We will do these steps for you</h1>
    <p>Saw.com covers every step of the process to find the best solution for you.</p>
    <div class="row px-5">
      <div class="col-lg-9 steps px-0">
        <div (click)="readMore(step_1)" class="pointer shadow p-4 mt-3">
          <div class="overflow-auto ">
            <h3 class="font-weight-bold float-left" style="display: flex; align-items: center;">
              <span class="text-secondary num-opacity">1</span> Come up with a Budget          
            </h3>
            <img class="float-right" src="../../assets/images/buy-domain/Budget.png" width="32">
          </div>
          <div class="overflow-auto">
            <p>Before we contact the owner and get into a negotiation, we want you to have a budget in mind. During our free consultation, we can go over the basics of domain appraisals and the quality you can expect given your budget…</p>
            <a class="text-secondary text-capitalize float-right">Read more</a>
          </div>
        </div>
        <div (click)="readMore(step_2)" class="pointer shadow p-4 mt-3">
          <div class="overflow-auto ">
            <h3 class="font-weight-bold float-left" style="display: flex; align-items: center;">
              <span class="text-secondary num-opacity">2</span> Visit a Domain          
            </h3>
            <img class="float-right" src="../../assets/images/buy-domain/Visit domain.png" width="32">
          </div>
          <div class="overflow-auto">
            <p>Once we have a targeted domain, we like to visit the web domain name. If there is a functioning business on the web domain and their brand relies on it, the valuation will increase significantly. This is because we will need to factor in the fair market…</p>
            <a class="text-secondary text-capitalize float-right">Read more</a>
          </div>
        </div>
        <div (click)="readMore(step_3)" class="pointer shadow p-4 mt-3">
          <div class="overflow-auto ">
            <h3 class="font-weight-bold float-left" style="display: flex; align-items: center;">
              <span class="text-secondary num-opacity">3</span> Find the Owner of the Domain
            </h3>
            <img class="float-right" src="../../assets/images/buy-domain/Find the owner.png" width="32">
          </div>
          <div class="overflow-auto">
            <p class="mb-0">The first step involves performing a so-called WHOIS search, which provides some information about the domain, including:</p>
            <p class="mb-0">Registration date</p>  
            <p>The name of the registrant….</p>
            <a class="text-secondary text-capitalize float-right">Read more</a>
          </div>
        </div>
        <div class="shadow p-4 mt-3">
          <div class="overflow-auto ">
            <h3 class="font-weight-bold float-left" style="display: flex; align-items: center;">
              <span class="text-secondary num-opacity">4</span> Contact the Owner
            </h3>
            <img class="float-right" src="../../assets/images/buy-domain/Find owner of the domain.png" width="32">
          </div>
          <div class="overflow-auto">
            <p>Depending on what is found after performing the WHOIS search, we will determine the best method of finding and contacting the owner. Some owners do not want to be found, and it takes an exceptional level of effort to locate them to get their attention. This could be in the form of a firm cash offer, a handwritten letter, or even a road trip to their home or office!</p>
          </div>
        </div>
        <div class="shadow p-4 mt-3">
          <div class="overflow-auto ">
            <h3 class="font-weight-bold float-left" style="display: flex; align-items: center;">
              <span class="text-secondary num-opacity">5</span> Negotiate
            </h3>
            <img class="float-right" src="../../assets/images/buy-domain/Negotiate.png" width="32">
          </div>
          <div class="overflow-auto">
            <p>When contact is made, and the response is received, it is time to negotiate. This involves not just the purchase price but all other terms of the sale. For example, how will the buyer pay? Who covers the fees to use a neutral third party that facilitates the transaction? How long will the transfer from the seller to the buyer take? There are many terms beyond purchase price that go into domain name transactions. We do not and will not miss any of them!</p>
          </div>
        </div>
        <div class="shadow p-4 mt-3">
          <div class="overflow-auto ">
            <h3 class="font-weight-bold float-left" style="display: flex; align-items: center;">
              <span class="text-secondary num-opacity">6</span> Purchase
            </h3>
            <img class="float-right" src="../../assets/images/buy-domain/Purchase.png" width="32">
          </div>
          <div class="overflow-auto">
            <p class="mb-0">Multiple companies specialize in providing escrow services for domain purchase transactions.</p>
            <p class="mb-0">Using a licensed and insured escrow company is one of the best insurance policies one could opt for.</p>  
            <p >If you have made it this far, you are ready to begin your domain acquisition journey. Let one of our Domain Brokers help you. Please give us a call.</p>
          </div>
        </div>
        <div class="content-center w-100">
          <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3 my-3">Speak With An Expert</a>
        </div>
      </div>
      <div class="col-lg-3 px-0 border-show">
        <div class="border-top-right-1 border-height" style="margin-top: 150px;"></div>
        <div class="border-top-right-1 border-height" ></div>
        <div class="border-top-right-1 border-height" ></div>
        <div class="border-top-right-1 border-height" ></div>
        <div class="border-top-right-1 border-bottom-1 border-height" ></div>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary py-0 position-relative half-section">
  <div class="custom-row overflow-auto">
    <div class="float-right first-tab text-center circle-tab">
      <div class="bg-white circle-img ">
        <img src="../../assets/images/buy-domain/Saw-com-domain-name-buy-service.png" width="200">
      </div>
    </div>
    <div class="float-right second-tab text-white py-5">
        <h5>Launching a new venture is anything but easy. Free up your time and stop worrying about the unknown by outsource your domain search to professional brokers by using our Domain Buy Service.</h5>
    </div>
  </div>
</section>

<section>
  <div class="container border-bottom border-secondary ">  
    <div class="py-5">
      <h1 class="font-weight-bold">Frequently Asked Questions</h1>
    </div>
  </div>
  <div *ngFor="let Faq of Faqs; let i = index">
    <div id="Faq-{{ i }}" >
      <div class="container py-3 border-bottom border-secondary">
        <a  class="text-decoration-none list-collape" (click)="openContent(i)">
          <h4>{{ Faq.question }}</h4>
        </a>
        <div id="List-{{ i }}" class="list-show">{{ Faq.answer }}</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center mt-3">
      <a routerLink="/faq" class="text-secondary text-decoration-none py-3 my-3">See all questions</a>
    </div>
  </div>
</section>

<ng-template #content let-modal id="content">
  <div class="modal-header border-0">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
    <div class="row content-center">
      <div class="sidebar text-center">
          <h1 class="font-weight-bold mb-3">Contact Us</h1>
          <p class="">Regarding a Domain Purchase</p>
          <h4 class="font-weight-bold text-secondary">Call +1 (781) 281-9475</h4>
          <p class="">EST time from 9 AM to 5 PM</p>
          <p class="">Or</p>
      </div>
    </div>
    <app-contact [servicesNeeded]="'Buy'"></app-contact>
  </div>
</ng-template>

<ng-template #step_1 let-modal>
  <div class="modal-header">
    <h2 class="text-secondary font-weight-bold">Step 1 - Come up with a Budget</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
    <div class="container">
      <p>
        Before we contact the owner and get into a negotiation, we want you to have a budget in mind. During our free consultation, we can go over the basics of domain appraisals and the quality you can expect given your budget.
      </p>
      <p>
        Like purchasing any big-ticket item, you first need to develop a number for the absolute highest offer you can give. To help establish a budget, have a look at <a target="_blank" href="https://www.estibot.com" class="text-secondary">www.Estibot.com <img src="../../assets/images/icons/new-tab-icon.svg"></a>. It is a free automated domain appraisal tool that is great for quick estimations. A word of caution, though – appraisals from Estibot are typically on the low end from between 50-75%. This is because Estibot factors in many sales that are from wholesale auctions, not retail pricing.
      </p>
      <p>
        Nevertheless, it's essential to know the most critical metrics that weigh into a domain's valuation:
      </p>
      <ul class="list-secondary">
        <li><span class="font-weight-bold">Length</span> – Three and four-letter domains are typically the most expensive.</li>
        <li><span class="font-weight-bold">Memorability and Spelling</span> – Domains that are memorable and are easy to spell are generally worth more as they are more brandable.</li>
        <li><span class="font-weight-bold">Age</span> – Generally, the longer a domain has been registered, the more it will cost.</li>
        <li><span class="font-weight-bold">Industry</span> – Domains with popular-industry keywords are more valuable as they tend to rank higher on search engines</li>
        <li><span class="font-weight-bold">Universality</span> – A domain name that could be applied to many businesses in many places</li>
        <li><span class="font-weight-bold">Similar domains</span> – Look at names in the same industry with other similar metrics, and see how much they have sold for.</li>
      </ul>
      <p>
        Once you have appraised your domain and have come up with your budget, you'll be ready to move to Step 2.
      </p>
      <p>
        <strong>Please note</strong>: A decent domain name can be a big-ticket item. On the lower end, it will cost thousands of dollars. On the higher end, domains can sell for tens, if not hundreds of thousands of dollars. And like real estate, the best of the best can sell for millions or tens of millions of dollars. For more information on appraisals, check out our resources section:  
        <a routerLink="/resources/buy/appraisals/how" class="text-secondary" (click)="modal.dismiss('Cross click')">How are Domains Appraised?</a>
      </p>
    </div>
  </div>
</ng-template>

<ng-template #step_2 let-modal>
  <div class="modal-header">
    <h2 class="text-secondary font-weight-bold">Step 2 - Visit the Domain to See How it's Being Used</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
    <div class="container">
      <p>
        Once we have a targeted domain, we like to visit the web domain name. If there is a functioning business on the web domain and their brand relies on it, the valuation will increase significantly. This is because we will need to factor in the fair market value of the domain and the time, energy, money, and resources the company will have to use to switch to something new.
      </p>
      <p>
        That being said, just because there is a website on the domain does not mean there is a vibrant business that owns it. Many companies are just clinging on, or are not even functioning. If it is an e-commerce related site, for instance, try to purchase a product, or look at the blog to see if there has been a post lately. Another thing to look out for is the copyright at the bottom of the page. Does it say this year or five years ago?
      </p>
      <p>
        If it is a placeholder web page, it is most likely not being used, which might mean you are in luck. Some people that own dormant domains are motivated to sell their domains as quickly as possible. However, we don't know exactly what is going on behind that placeholder without contacting the owner. Perhaps the current registrant is about to launch a new product or service themselves. Or maybe they paid hundreds of thousands of dollars for the domain a couple of years ago for a project that never materialized. Many domains have changed hands five, ten, or even twenty times since their creation. Never assume that the current registrant is the original owner from 1995.
      </p>
    </div>
  </div>
</ng-template>

<ng-template #step_3 let-modal>
  <div class="modal-header">
    <h2 class="text-secondary font-weight-bold">Step 3 - Find the Owner of the Domain</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
    <div class="container">
      <p>The first step is to perform a WHOIS search, which provides some information about the domain,  including:</p>
      <ul class="list-secondary">
        <li>Registration Date</li>
        <li>Who registered the domain name</li>
        <li>When the domain name expires</li>
        <li>Its registrar</li>
      </ul>
      <p>Just keep in mind that the WHOIS is not what it used to be. Many registrars offer free or low-cost services to block the WHOIS information for their clients. In other circumstances, privacy laws have required registrars to prevent such information from being shared publicly.</p>
      <p>If this is the case, we will need to do some deeper digging!</p>
    </div>
  </div>
</ng-template>