<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Buying a Domain - Purchasing Your Domain
                </h1>
                <h2 class="title-md text-secondary">How Can You Find Your Own Weather.com?</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-12">
                <img src="../../../assets/images/resources/how_can_you_find_you_3b9cy.jpg" class="img-fluid" alt="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>You get what you pay for. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Be honest with yourself. If you’re going to start a business, and you’re serious about it, then expect to spend money. What is one of the most important assets of a company? It is its brand. If your company’s brand is represented by something that is second rate, you’re already hurting your business before it begins. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I am a firm believer that information is power, so I feel that you can never do enough research. If I were starting a business, I would visit some of the domain marketplaces (Afternic.com, BuyDomains.com, Sedo.com) and see what’s available for my budget, let’s say 3000 USD. I’d quickly see my options that fit my budget. Think about browsing for cars online. You typically have a budget in mind and can even sort or filter your search based on price. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>3,000 USD will get you a decent two-word .Com that is in a smaller sized industry. It won’t get you a one-word .Com unless it’s obscure and no one has heard the word. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Like cars, you need to ask yourself:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>How you’re going to use the domain?</li>
                    <li>How safe and reliable you want it to be?</li>
                    <li>If it might break down on you when you need it most.</li>
                    <li>Whether you will be embarrassed by it.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Let’s look at an example.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Imagine you’re a florist opening an online business. The best domain you could potentially buy for your business would be Flowers.com. Unfortunately, Flowers.com is owned by a large organization. You would not only need to buy the domain but purchase the entire business. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>If you’re in a specific area or town, BostonFlowers.com might be a good option. If the seller wants too much money for it and you opt for Boston-Flowers.com, MyBostonFlowers.com, FlowersBoston.com, you are doing yourself a disservice. This is a common mistake – it’s not a good idea to call your company one thing online and another thing elsewhere. It causes confusion. If your company is called Boston Flowers, your website should probably be called BostonFlowers.com.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>If the plan is to sell flowers nationwide or worldwide, you need a name that is memorable, easy to spell, easy to remember, and easy for current customers to tell their friends about. What do you do? You can certainly purchase BostonFlowers.com. However, that name has regional limitations that may restrict your customer reach.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Other options are:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>FloristGump.com (A play on Forrest Gump) or 123Flowers.com </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Those kinds of options are out there at a reasonable price. Once you get an idea of what you’d like to spend and the types of names that get you excited, I suggest hiring a domain broker to acquire the domain. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Many of the marketplaces out there don’t own the domains you’re looking at. They’re typically owned by third parties. Those third parties have agreed to pay a commission that might very well be much higher than the commission a brokerage like Saw.com would charge for the service. Right off the bat, there are savings opportunities to be had with Saw.com in addition to many other benefits.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Despite the best efforts of your Broker, the domain you have set your sites on is just outside of the realm of what you are willing to spend right now. You must be thinking, “I need to pay for all kinds of other supplies and I can’t afford to break the bank on a domain!” </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>If you’ve found a great domain for your business that is just out of your budget, there is an additional option which has become more and more accepted in the domain industry over the past few years, a payment plan. I will cover payment plans in depth in another article, but the gist of it is simple – you pay X amount down which is usually 30-40% of the purchase price. Then you pay the remainder off in a term of between 1-3 years. For the record, some sellers are not interested in these. Others offer payment plans, but they typically only offer one-year terms for payments. It all depends. An experienced Saw.com broker can walk you through this step by step. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>It is beneficial to go into this process with a basic understanding of how the process works and how your broker will help you acquire the best possible domain for your business at a price that doesn’t put you out of business. It’s good to communicate with him and work together to make the best possible outcome happen.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
            <div class="col-lg-3"><a routerLink="/resources/buy/purchasing/consult" class="btn btn-primary-arrow">Next - Domain Acquisition Consultation<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>
