<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>
<section class="first-section">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title-lg text-secondary mb-3">
                        Buying a Domain - Domain Appraisals
                    </h1>
                    <h2 class="title-md text-secondary">How are Domains Appraised?</h2>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I got my start in sales almost twenty years ago selling home loans. The three items that are always needed for any home loan are the three Cs: Cash, Credit, and Collateral. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>The first two Cs of the three Cs are self-explanatory, but the third C gets quite complicated. Collateral value, or the fair market value of an asset, requires an appraisal. A home appraisal takes into account: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Location, Square Footage, Age, Condition, and comparable sales within a reasonable distance from the property. Sounds simple, but it’s not quite as simple as it sounds.  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>When you purchase a home, it is appraised to determine collateral for the loan. Appraisers typically take a few superior properties and adjust down whether they are larger, in a better area, or in better condition. They also adjust the value up by comparing the home to inferior properties. Once the information regarding the home is tabulated and submitted, they calculate two different values: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>#1 - The fair market value of the property. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>#2 - The replacement cost of the property. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Typically, (not always) the price to rebuild the property in the case of a total loss is less than the market value of the property. The replacement cost is submitted to the insurance company to determine how much your homeowner’s insurance policy will be.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <p>After the home is appraised, a third type of value is calculated for the home. It is called the assessed value, or tax assessment. This assessment is usually far less than the fair market value of the property, and less than the replacement cost. It has to do with how much real-estate tax you will owe on the home. The more your home is worth, the more your taxes will be.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../../assets/images/resources/Domain Appraisal Clipboards.png" class="img-fluid" alt="Image" />
            </div>
            <div class="col-lg-6">
                <p>What does this have to do with domain appraisals? First, there are different kinds of appraised values for domains that are similar to the ones I have listed above (fair market, replacement cost). Also, similar to home appraisals, there are certain factors and metrics used to determine a fair market value for domains. </p>
                <p>Before we get started on domain appraisals, you should know a key distinction between real estate appraisals and domain appraisals. With any real estate appraisal, the appraiser puts their credentials on the first or second page of the appraisal. This is because real estate is a heavily regulated industry that requires licensing. The domain industry is not as heavily regulated as real estate. So, while it can be safely assumed a home appraiser has a license, it could be anyone in the domain industry.</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-9"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
            <div class="col-lg-3"><a routerLink="/resources/buy/appraisals/metrics" class="btn btn-primary-arrow">Next - Domain Appraisal Metrics<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>
