<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Buying a Domain - Domain Appraisals
                </h1>
                <h2 class="title-md text-secondary">Domain Appraisal Metrics</h2>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12">
                    <p>The clipboard shows the metrics that go into appraising domain names. Read below for an explanation of each metric.</p>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-3">
                <img src="../../assets/images/resources/Domain Appriasal Metrics Clipboard.png" class="img-fluid mb-5" alt="Image" />
            </div>
            <div class="col-lg-9"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Extension</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>There are three different types of extensions.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>TLD (Top Level Domain): Standard TLDs are: .Com, .Net, .Org, .Biz, .Edu, .Gov.</li>
                    <li>CCTLD (Country Code Top Level Domain): Some of the largest CCTLDs are: .Co.UK 	(United Kingdom), .De (Germany, which is the second most registered TLD next to 	.Com), .CA (Canada)</li>
                    <li>GTLD (Generic Top Level Domain): Examples are: .Agency, .Email, .Rentals, .XYZ, .Link, 	.Auto</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Considerations for Appraisal:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>Popularity of extension</li>
                    <li>Target market of extension</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>How many different extensions has the domain name registered?</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Ask yourself some questions, such as: Has .net been taken? Has .org been taken? Has .co.uk been taken? If a domain is registered with the most common extensions, there is high demand and it will be worth more. Look at sex.com. It is registered in just about every extension known to man. And it makes sense. Because let’s be honest, the adult industry has extraordinary demand.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>If you go to purchase a domain name and you see, for example, that .net has not been registered, that will tell you that there is a significant lack of demand for that domain. In that case, unless you desperately need that name, perhaps you should look for something else with more value.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Industry</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Examples include tech, healthcare, insurance, social media, etc.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Traffic/Revenue</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Ask yourself whether it is a developed website or not. Does this domain name get a lot of traffic/does it make a lot of money? Some domain names just contain a parked page and make $1000 a month in parking revenue. These days though, domain names are not typically valued based on these metrics. It’s a relatively uncommon form of valuation.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Length</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>How many characters make up the domain? For example, Cnn.com is a relatively short domain name while Canyoupaymybills.com is a longer domain name. When assessing length, it’s important to consider whether the name could be shortened. If it’s unnecessarily long, it’s not going to be worth as much as a shorter version.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Domain Age</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>This metric is predicated on supply and demand. If the domain contains and was registered in the 90s (Fish.com, Dogs.com), it’s likely to be a highly desired domain. If it were registered today on the other hand, it’s not likely to be worth much at all.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>How Universal is it?</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>You need to think about the domain in different languages, cultures, and spellings. For example, think about appraising Shoes.com. “Shoe” is an English word, and only relevant in the English language. On the flip side, “yoga” is universal in many languages. Universal domains allow owners to roll out services and products worldwide and have a larger market, so they are worth more than less universal domains.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>How Memorable is it?</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>If you’re having a conversation with someone and tell them your domain name and they forget it after your conversation, it’s probably too long. One good example of this is domains that contain acronyms. I see this a lot with local car dealers. (insert bad domains that are not memorable here).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Spelling</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Is it hard to spell? If it’s hard to spell, your target audience will have a harder time accessing your site. The goal is to make it as easy as possible for people to find you, remember you, and tell their friends about you.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Market Trends</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>This is one of my favorite parts of the valuation process. When appraising, you can look at trends for many different situations. One easy way to find trends is to visit trends.google.com. It’s a search tool that shows you the number of google searches for any term over time. From this data, you can discern the interest or demand for a domain name you might be looking to purchase. For example, for the domain Suntanlotion.com, you will likely see that it has a seasonal demand. The searches will spike in mid-February, a couple of weeks in April, and it will quickly climb in May and June, stay high during the summer, and start to fall in Autumn. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>One of my favorite examples is the Harlem Shake dance. This was a very popular dance done by all kinds of celebrities, athletes, and people all over the world. Then, all the sudden, its popularity fell off a cliff. If you search for the Harlem Shake dance in Google trends, you’d see a flatline, then you’d see the demand or searches go through the roof, then fall off a cliff. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>From an appraisal point of view, one strategy is to compare different keywords. For example, if you compare the terms “app” and “software,” you’ll see some interesting trends. For five or ten years, “software” has been dying a long, slow death, whereas “app” grew quickly and is now more popular than software. If you’re purchasing a domain that is a product or service, you might want to look at trends like this.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>On the other hand, if you’re looking to purchase a brand name, the trends of the word might not be relevant for appraisal. For example, trends for the word “shout” would not be helpful when looking at trends for the cleaning brand Shout. If I owned a PR firm, I might want to by shout.com. But the people looking for shout are probably looking for the detergent brand. Those search results could artificially prop up the value of the domain name shout. This is something that I’ve learned from years in the industry.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Regional Limitations</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>The value of a domain can be limited if it contains a locality or region in its name. For example, if your domain name is BostonCatering.com or BostonTutoring.com, people will think you’re only serving markets within the Boston area. There are exceptions to the rule, like Boston Market or Kentucky Fried Chicken., but for the most part, if a domain is regional, it will have less value than a universal domain like Market.com, FriedChicken.com, or Tutoring.com. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Comparable Sales</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>This metric is very similar to appraising a home. You look for domains that are far superior and far inferior to the value of the domain. For example, if you were appraising BostonTutoring.com, you’d compare it to Tutoring.com or other universal domains in the education market. A common mistake is to type “tutor” or “tutoring” into websites that show past domain sales. To compare to appraising homes, that would be like only looking at ranch houses in a neighborhood to appraise a ranch house.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>If I had to appraise BostonTutoring.com, I would look for other regional domain names that serve a similar-sized market. It doesn’t necessarily have to be education, but it needs to be some sort of service industry. For example, BostonDentis.com or BostonDentists.com (professional providing a service in a specific regional area). I’d then look at the date of when the domain sold and adjust from there.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I would then look at superior sales. I’d see how Tutor.com or Tutors.com sold and make my valuation of BostonTutoring.com from there.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Other Considerations</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>- Social</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>This is similar to looking at trends. Do you remember fidget spinners? If you owned spinner.com before the fidget spinner came out, the value of that domain would have been dramatically inflated by that product’s popularity. But now the popularity of fidget spinners has fallen off a cliff, likely taking the value of Spinner.com with it.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>- Environmental</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>This involves different initiatives and movements happening in the world around us. Take the “green” initiative. Fifteen years ago, the word “green” to denote “environmentally friendly” wasn’t something that quite existed in the mainstream. It was just a word for the color or money. Now, when you think of the word green, you think of recycling, saving the earth, sustainability. This has significantly increased the value of domains that contain the word “green.”</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>- Government</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>To explain this metric, I’ll provide an example from personal experience. When I first got into the domain business, the value of gold was very high. Because of this, I sold the domain GoldTrading.com for a significant amount of money. Today, I wouldn’t make nearly as much on that domain because the market isn’t as hot for anything gold. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Another example is Syria. A colleague of mine, born and raised in Turkey, told me that he used to go to Syria for summer vacation. He said it was a beautiful and popular vacation destination. If you owned Syria.com 9 or 10 years ago, that might have been a place where you sold vacation packages. I would wager that the vacation package market for Syria is not as good as it used to be. And logically, the value of that domain has taken a major beating in the market.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>You might be thinking that this is a lot of metrics to assess when appraising a domain name. But not all of these factors are looked at for every domain name – some factors are more relevant than others in different situations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a>
            </div>
            <div class="col-lg-4"><a routerLink="/resources/buy/purchasing/what" class="btn btn-primary-arrow">Next - What Kind of Domain Should I Buy?<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>
