<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Buying a Domain - Purchasing Your Domain
                </h1>
                <h2 class="title-md text-secondary mb-5">What Kind of Domain Should I Buy?</h2>
                <img src="./assets/images/resources/Domain Extensions Hierarchy.png" class="img-fluid mb-5" alt="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Before you decide what you should buy, I highly suggest that you read my article, <strong><a routerLink="/resources/buy/appraisals/how">How are Domains Appraised?</a></strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>When thinking about what kind of domain to buy, it’s important to first consider your business needs, target audience, and the factors that add value to a domain. This may inform your decision on which extension to use.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Once you’ve made the above considerations, you will hopefully be able to narrow down which extension you’d like to use. If you’re planning to use a Top Level Domain (TLD) .COM, .Net, or .Org, or if your business is in the United States, skip ahead to Section 3 of this article. If you’re looking to purchase a Generic Top Level Domain (GTLD), go to Section 2. If you’re looking to use a Country Code Top Level Domain (CCTLD), or if you haven’t yet made up your mind about extensions and your business is outside the United States, then keep reading.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>To remind you:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>TLD (Top Level Domain): </strong>.Com, .Net, .Org, .Edu, .Biz </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>CCTLD (Country Code Top Level Domain): </strong>.CA (Canada), .Co.UK (United Kingdom), .US
                    (United States), .DE (Germany), .CO (Columbia), .IO (Indian Ocean)</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <p><strong>GTLD (Generic Top Level Domain): </strong>.XYZ, .Dentist, .Email, .Cars, .Link, .Tattoo, .Juegos (There are hundreds!)</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 title-lg text-secondary">
              <h3>Section 1 - CCTLDs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>The best use of a CCTLD is if you run a business that only does business in the locality of the extension. The main reason for this is because CCTLDs are typically much less expensive than TLDs. For example, .KY represents the Cayman Islands. Since it’s a small country with small demand, one-word .KYs can be hand registered inexpensively. That is a good thing, because if the aspirations of the business are only to serve those who are in the Cayman Islands, then using the local extension rather than a .Com or .Net would be perfectly acceptable, and much lighter on the wallet. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I have traveled within Canada and Europe quite extensively. You typically see CCTLDs in Europe and Canada instead of .Com. However, .Com is universally accepted throughout both places. Europe is such a diverse and beautiful place. It’s amazing how quickly the languages and the cultures change in such short distances. What makes a wonderful place to go on vacation sometimes hurts the value of using a CCTLD. How so? </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Consider the following example:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><em>Imagine you own a shipping company based in Germany. You ship goods from Germany to Italy. In this example, a .IT (Italy CCTLD) would be less than ideal for marketing in Germany, and a .DE (Germany CCTLD) would be less than ideal for marketing in Italy. It would be like trying to use the German language in Italy, or the Italian language in Germany – you would be severely limited in your ability to communicate with the people in that country.</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Now let’s look at this issue from another angle – usage of .CA (Canada CCTLD). Some people in the US think a .CA is short for .California, which makes sense due to the population and GDP of California. However, this confusion can cause issues for owners of .CA domains. For example, the Canadian government mandates that you need to either be a resident of Canada or have a company based there to legally own a .CA domain. Imagine you just spent 10,000 USD on a “Dot California” domain, only to find out the market you’re targeting (Americans) have never heard of such extension, and you’re technically not permitted to own it? </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Common sense says that if you’re living and offering your products in a specific geographical area and nowhere else, perhaps a CCTLD is right for you. However, if you’re looking to target many other markets, choosing a more trusted and recognized extension might be best for you. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>You might ask, “What about .IO and .CO? Those are both CCTLDs and have become popular with many companies especially start-ups in the tech space.”</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>That is correct. .IO stands for Indian Ocean. .CO is for Columbia. As I said above, CCTLDs can have limitations to them set by their governments. These two CCTLDs have caught on in popularity within the tech community and are being used regularly. I feel there are three major issues with this: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <p>#1 - If you’re targeting the general public, they will probably end up going to the .Com domain and you will lose potential customers/traffic. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <p>#2 - Stemming from issue #1, the owner of the .Com will likely see their traffic rise, and they will find your organization on the alternative CCTLD. This is a clear indication that you will eventually need the .Com domain in the future. It might be a better financial decision to buy the .Com first rather than pay an exorbitant amount of money later. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <p>#3 - Outside of the tech community, many people haven’t heard of .IO and might not trust or remember the extension. This goes back to issue #1. </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <p>Key Takeaway – It’s perfectly acceptable to purchase a CCTLD if your business is local and contained to one country. However, if you’re doing business in multiple countries, and want to attract as many customers as possible, it’s probably a better idea to go with a TLD like .Com.</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 title-lg text-secondary">
                <h3>Section 2 - GTLDs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>The rules of GTLDs are similar to what I wrote above about CCTLDs. GTLDs are relatively new, and thus not well known to the general public. You need to think about who your target audience will be.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Is it tech-savvy professionals who are up to the times with technology? </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Are they an older crowd or one that is not as tech-savvy as others?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>There are many GTLD options available. Some are very specific to the industry or category they fall into and others are very broad and can fit just about anything. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Some of the more specific GTLDs out there are (and there are hundreds!) are: .Agency, .Email, and .Travel. Three premium domains that fall under each of these extensions:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Talent.Agency</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Free.Email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Vacation.Rentals</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>These flow and make sense. They are short, to the point, easy to spell, and easy to remember. They would sound great on the radio or TV. They tick all of the boxes of what makes a domain valuable. They also sell for significant amounts of money. Vacation.Rentals sold for over a half a million dollars!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>The question is, might a user slap a .Com on the end of one these sites? If so, would that customer be lost? The owner of the .Com can perform what is called a wildcard to the subdomain, essentially taking these potential customers. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>A company that uses wildcards on their site is www.woot.com, one of the first deal-a-day websites. Woot uses subdomains to break up their offerings or categories. They use tools.woot.com and wine.woot.com, but they also use wildcards.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>A wildcard captures everything and anything that someone types in before the domain. For example: hiheihfwfih.woot.com. Go to it, it works! It sends you right to woot.com. Consider an example:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><em>Imagine purchasing Free.Email and planning to build a business around it. The only problem is that the owners of Email.com have a wildcard on their site. In this scenario, a customer may, just by habit, type in free.email.com. If the customer does this, the owners of Email.com will capture your customers. More than likely, their business has been around a lot longer than yours; there is nothing you can do about it.</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Don’t believe what I am saying? Human beings are creatures of habit. Try and change the way you search for a few days – go to Yahoo instead of Google. Good luck! </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <p>This is one of the only drawbacks with GTLDs. The only other issue is that they are quite specific and may restrict your business opportunities. For example, if you registered a .Email domain, you’d be restricted to the email business. For example, I wouldn’t register Football.Email if I were launching a fantasy football site. It just doesn’t make sense. </p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 title-lg text-secondary">
                <h3>Section 3 - TLDs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>As basic economics dictates, the available supply of a product or service vs the demand for that product or service will dictate its price. Let’s look at this principle in regard to domains. When it comes to .Com, all of the one-word and two-word .Coms that cover any valuable industry have been registered. They are either developed, going to be developed, or being held for various reasons. This is because the .com extension is the most universal of any extension. This is a situation of low supply, high demand, and therefore, high price.</p>
                <p>Having the right .Com and/or CCTLD can deliver great unfair competitive advantage. Don’t believe me? Look at Weather.com. Weather.com is the United States’ leading weather site/app. It might not be the most user-friendly or accurate weather service, but the domain delivers great returns relative to other weather service providers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
            <div class="col-lg-4"><a routerLink="/resources/buy/purchasing/how" class="btn btn-primary-arrow">Next - How Can You Find Your Own Weather.com?<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>
