<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title-lg text-secondary mb-3">
                            What is a Domain Name?
                        </h1>
                        <img src="./assets/images/section-1.jpg" class="img-fluid mb-5" alt="Image" />
                        <p>
                            <strong>
                                The short answer:
                            </strong>
                        </p>
                        <p>
                            A domain is your online identity. It is the address where people can find you online. There doesn’t have to be anything on your domain for it to be a domain.
                        </p>
                        <p class="mb-4">
                                The best analogy I can give is it is an empty lot of land. When someone builds a building on a lot, whether it is a home (personal use) or a commercial building (business use), it becomes a website. So a domain is the lot, and the website is the building that resides on the lot.
                        </p>
                        <p>
                            <strong>
                                The technical answer:
                            </strong>
                        </p>
                        <p>
                                Domain Names were created to be a website’s internet protocol, or IP Address. An IP Address is a series of numbers that show where the computer server is located that is hosting the website that is on it. One of Google’s IP Addresses is: 45.79.12.201
                        </p>
                        <p>
                                Imagine typing that in every time you want to search something! Instead, we use domain names to identify websites. So, instead of 45.79.12.201, we use google.com, which is much easier to remember!
                        </p>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-8"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
                        <div class="col-lg-4"><a routerLink="/resources/why" class="btn btn-primary-arrow">Next - Why Purchase a Domain Name?<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
