<app-header-resources></app-header-resources>

<section class="first-section">
        <div class="container">
                <div class="row mb-4">
                        <div class="col-lg-12">
                                <h2 class="title-md text-secondary">Saw.com Privacy Policy</h2>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12">
                                <p class="mb-4">
                                        The purpose of this Privacy Policy is to inform you what Personal Data we request and collect, and how we use it, so you can decide whether or how you will use our services or access our website.
                                </p>
                                <p class="mb-4">
                                        Our primary location is in Massachusetts, but we use third-party internet service providers, such as hosting and email service providers, to communicate with you.  Certain information, such as your internet protocol address, and your email address if you provide one, are of course necessary to communicate with you and to provide access to this website.  We also use third-party customer relation management services in which we store the contact information you provide to us, and which warrant to us that the data we store with them is not shared by them.
                                </p>
                                <p class="mb-4">
                                        If you are interested in engaging our services to negotiate the purchase or sale of domain names, then we must of course know who is authorizing us to do that and what it is you are seeking to sell or to buy as your agent.  We cannot be your agent if we do not know who you are to a reasonable level of confidence.
                                </p>
                                <p class="mb-4">
                                        We may also seek to confirm the information you provide to us, so that we can mitigate the risk of fraud.  For example, if you claim to the be the owner of a domain name that you are seeking to sell, we will of course need sufficient information to confirm that you are who you claim to be to a reasonable level of confidence, before we spend our time negotiating on your behalf. Likewise, if you are seeking to buy a domain name, then we need to know on whose behalf we are acting as an agent.  This is for your protection and for ours as well, since the laws of the United States may restrict with whom we may lawfully do business.  We may use third-party search tools to conduct searches for information about your domain names and/or your contact information to determine whether the information you provide to us is consistent with any publicly available records concerning your domain names or contact information.
                                </p>
                                <p class="mb-4">
                                        During the course of our services to you, and to comply with any relevant contractual conditions, we will keep a record of contacts and leads utilized in the course of the services, negotiations conducted with such parties, and your negotiation instructions. We will also need to be able to contact you with updates about these negotiations.  If you are no longer interested in having us contact you about your inquiry, our communications to you include an "opt out" link to discontinue any further communications from us.
                                </p>
                                <p class="mb-4">
                                        We will share Personal Data with companies, organizations or individuals outside of our company when we have your express consent to do so, such as to conclude a transaction pursuant to a sales contract to which you intend to be a party.
                                </p>
                                <p class="mb-4">
                                        We will also share Personal Data with other companies, organizations or individuals if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to: meet any applicable law, regulation, legal process or enforceable governmental request; enforce applicable Terms of Service, including investigation of potential violations; detect, prevent, or otherwise address fraud, security or technical issues; protect against harm to the rights, property or safety of us, our users or the public as required or permitted by law.
                                </p>
                                <p class="mb-4">
                                        We will retain all contact information and data associated with any threat of legal action against us, and we will use such information to initiate or defend against any legal action associated with such threats. Likewise, if you we cancel your services for abuse of our services or for any abusive or unlawful activity, we will retain such information as may be necessary to prevent or block your use of our services in the future.
                                </p>
                                <p class="mb-4">
                                        Our Privacy Policy does not apply to information which is fraudulent.  Accordingly, when you provide us with Personal Data, you warrant that your information is correct and that you are whom you claim to be.
                                </p>
                                <p class="mb-4">
                                        Our Privacy Policy may change from time to time. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes).
                                </p>
                                <p class="mb-4">
                                        Contact for more information.<br>
                                        To find out what Personal Data we hold on you or to have your Personal Data updated, amended or removed from our database, please contact us at <a href="mailto:sales@saw.com">sales@saw.com</a>.
                                </p>
                        </div>
                </div>
        </div>
</section>
