<!-- Modal -->
<div class="modal fade" id="job-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-gradient" id="exampleModalLabel"><strong>Sales Consultant</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="pt-4">
                                <strong>Location: </strong> Home Based
                            </p>
                            <p class="mb-4">
                                Are you a go getter? Do you enjoy the thrill of the hunt or the rush of from making a sale? If the answer is a resounding “YES!” then we want to hear from you.
                            </p>
                            <p>
                                <strong>Role:</strong>
                            </p>
                            <ul class="primary-list mb-4">
                                <li>
                                    Prospecting
                                </li>
                                <li>
                                    Cold Calling into companies to sell premium domains
                                </li>
                                <li>
                                    Responding to worldwide leads via phone, email, text, WhatsApp, etc
                                </li>
                                <li>
                                    Negotiating with sellers, and buyer
                                </li>
                            </ul>
                            <p>
                                <strong>
                                    Requirements:
                                </strong>
                            </p>
                            <ul class="primary-list mb-4">
                                <li>5 Years of Domain Brokerage or strategic B to B sales experience</li>
                                <li>Excellent verbal and written communication skills</li>
                                <li>Proficient in Microsoft Office Suite</li>
                                <li>Understanding of the use and value of a CRM</li>
                                <li>Overall management of the sales pipeline through the sales cycle</li>
                                <li>A positive team player approach and attitude</li>
                                <li>A willingness to help your customers succeed</li>
                                <li>Fluency in multiple languages a plus</li>
                            </ul>
                            <p>Email <a href="mailto:sales@saw.com">sales@saw.com</a> with resume and cover letter attached.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="job-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-gradient" id="exampleModalLabel">Industry Writer/Contributor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="pt-4">
                                <strong>Location</strong>: Home Based
                            </p>
                            <p>We have an excellent opportunity for an experienced writing professional with expertise in blog and collateral creation in the field of Technology. This person must be a motivated, creative, self-starter and have with 3+ years of relevant experience, and excellent editing, written, and verbal communication skills.</p>
                            <p>
                                <strong>Role:</strong>
                            </p>
                            <ul class="primary-list mb-4">
                                <li>Write industry-specific articles that are useful, fresh, and relevant</li>
                                <li>Write copy for digital assets. Examples including general collateral, solution briefs, case studies, infographics, print and banner ads, social media, website landing pages, and others as required</li>
                                <li>Create various types of marketing content including, but not limited to: email, web content, blog posts, white papers, and brochures</li>
                                <li>Research content and develop relevant marketing materials</li>
                                <li>Support marketing campaigns, sales support efforts, and more</li>
                                <li>Draft copy, edit, and proofread</li>
                                <li>Coordinate multiple copy projects simultaneously to ensure deadlines are met</li>
                                <li>Following content publishing schedule</li>
                            </ul>
                            <p>
                                <strong>Minimum Requirements:</strong>
                            </p>
                            <ul class="primary-list mb-4">
                                <li>
                                    3+ years of experience in writing, editing, and marketing communications
                                </li>
                                <li>
                                    Experience within domains, websites, high-tech, or IT
                                </li>
                                <li>
                                    Excellent editing and writing skills
                                </li>
                                <li>
                                    Proficient in Microsoft Office Suite
                                </li>
                            </ul>
                            <p>Email <a href="mailto:sales@saw.com">sales@saw.com</a> with resume and cover letter attached.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="job-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-gradient" id="exampleModalLabel">Full Stack Angular Web Developer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="pt-4">
                                <strong>Location</strong>: Home Based
                            </p>
                            <p>We have an excellent opportunity for a full stack Angular developer with expertise with web development frameworks (Angular, JavaScript, Typescript, Node.js) and experience creating and integrating with Web APIs.  Experience with SASS, CSS, Bootstrap 4 also required.  Additional experience with back-end API integration, REST APIs, and familiarity with cloud technologies - AWS, Azure a plus.</p>
                            <p>
                                <strong>Responsibilities include:</strong>
                            </p>
                            <ul class="primary-list mb-4">
                                <li>Produce web content from supplied mock-ups and design artifacts using standardized HTML markup and CSS definitions and structures</li>
                                <li>Understand, create, and integrate with REST APIs and other APIs as needed</li>
                                <li>Optimize image and graphic assets for site speed</li>
                                <li>Test sites across browsers, platforms and devices for scripting and display errors</li>
                            </ul>
                            <p>
                                <strong>Minimum Requirements:</strong>
                            </p>
                            <ul class="primary-list mb-4">
                                <li>
                                    2-4 years of experience in frontend web development and experience with back-end development
                                </li>
                                <li>
                                    Proficiency converting design concepts into visually appealing web pages
                                </li>
                                <li>
                                    Expert knowledge in hand coding HTML, CSS, JavaScript, Bootstrap
                                </li>
                                <li>
                                    Experience with Responsive Web Design
                                </li>
                                <li>
                                    Familiarity with using Git for source code control
                                </li>
                            </ul>
                            <p>
                                <strong>Nice to have:</strong>
                            </p>
                            <ul class="primary-list mb-4">
                                <li>AWS Cloud Technologies:  Serverless/Lambda, API Gateway, Elastic Beanstalk/ECS</li>
                                <li>Building containerized applications for cross platform compatibility</li>
                                <li>Familiarity with DevOps, CI/CD pipelines</li>
                            </ul>
                            <p>Email <a href="mailto:sales@saw.com">sales@saw.com</a> with resume and cover letter attached.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="sidebar">
                    <h3 class="title-gradient">Work With Us</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <p class="lead">Being seen is hard. It’s why we’re always adapting and growing to serve you better. Join our team and help us connect brands with the world in a brand new way. Saw.com gives you the freedom to grow, learn, and be inspired.</p>
                <p class="lead">Browse our vacancies below. </p>
                <ul class="list-group mt-5">
                    <li class="list-group-item">
                        <a href="#" data-toggle="modal" data-target="#job-1">
                            <p>
                                Sales Consultant
                            </p>
                            <span>
                                Investment Operations
                            </span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" data-toggle="modal" data-target="#job-2">
                            <p>
                                Industry Writer/Contributor
                            </p>
                            <span>
                                Legal
                            </span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" data-toggle="modal" data-target="#job-3">
                            <p>
                                Full Stack Angular Web Developer
                            </p>
                            <span>
                                Technology
                            </span>
                        </a>
                    </li>
                </ul>
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</section>
