<app-header-resources></app-header-resources>

<section class="first-section custom-section">
  <div class="custom-row overflow-auto">
    <div class="float-right first-tab text-center mobile-none mt-3 pr-0">
      <div class="mt-5">
        <img src="../../assets/images/adult-block/Saw-Com-Adult-Block.png" width="200">
      </div>
    </div>
    <div class="float-right second-tab mt-3">
      <p class="">AdultBlock</p>
      <h2>Protect Your Business</h2>
      <p>If you hold a trademark on your domain name or are a Sunrise B registrant, the AdultBlock service will block registrations for your name across all four adult-themed TLDs: </p>
      <div class="overflow-auto">
        <ul class="float-left font-weight-bold list-secondary">
          <li>dotXXX</li>
          <li>dotSEX</li>
        </ul>
        <ul class="float-left font-weight-bold list-secondary">
          <li>dotADULT</li>
          <li>dotPORN</li>
        </ul>
      </div>
      <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3">Protect My Business</a>
        &nbsp;
      <a pageScroll 
        [pageScrollOffset]="100" 
        [pageScrollDuration]="600" 
        [pageScrollAdjustHash]="true"
        href="#pricing"
        class="border border-secondary text-secondary btn btn-rounded size-button center-mobile text-capitalize py-3">
        Pricing
      </a>
    </div>
  </div>
</section>

<section class="custom-section bg-secondary">
  <h1 class="font-weight-bold text-white">What Is AdultBlock?</h1>
  <div class="row mt-5 mx-0">
      <div class="col-lg-6 font-weight-normal text-white pad-left px-5">
        <p class="">It represents a straightforward mechanism that enables qualifying organizations to block the registration of any domain that falls under their trademark. This includes unlimited variants based on the holder's labels.</p>
        <p class="">Instead of worrying about registering and managing many different adult related TLDs, it is possible to block trademarked domains under all four TLDs for up to ten years through just one action.</p>
      </div>
      <div class="col-lg-6 pr-0 custom-tag">
          <div class="bg-white text-white border-adult pad-left p-3 px-5">
            <h6 class="font-italic text-dark">For example:</h6>
            <p class="text-dark">If <span class="font-weight-bold"> YourCo.com</span> qualified for this product, we could block YourCo.sex, YourCo.xxx, YourCo.adult, YourCo.porn, as well as all other variations.</p>
          </div>
      </div>      
  </div>
  <div class="container">
    <a (click)="open(content)" class="bg-white text-secondary btn btn-rounded size-button center-mobile text-capitalize mt-3 py-3">Contact Sales Consultant</a>
  </div>
</section>

<section #pricing id="pricing">
  <div class="container">
    <div class="">
      <h1 class="font-weight-bold">Pricing</h1>
      <p>For assistance in choosing which coverage is best, we will provide a free audit to find out how many trademark variants you have and how many matches your label has with your SMD file.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 mt-3">
        <div class="container px-0">
          <div class="shadow border border-shadow">
            <div class="bg-gradient border-price border text-center py-5">
              <h4>AdultBlock</h4>
              <h1 class="font-weight-bold text-white">$ 2,999</h1>
              <p class="text-white mb-0">Pay once, get covered for 10 years</p>
            </div>
            <div class="px-4 py-3">
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p>Block the label across all 4 TLDs</p>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p>Premium domain name blocking</p>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p>Blocking of domains when they become available</p>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-2999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p class="text-lightdark">Variant labels in SMD file and Sunrise B</p>
                </div>
              </div>
              <div class="row mx-0 px-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-2999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p class="text-lightdark mb-0">Unicode Variant Blocking - homoglyphs and IDN's Feature potentially tallying in the thousands for each label</p>
                </div>
              </div>
            </div>
            <div class="bg-lightdark px-5 py-3">
              <p>Labels Covered: <span class="font-weight-bold"> 1 (one)</span></p>
              <p class="mb-0">Protection Period: <span class="font-weight-bold"> 10 Years</span></p>
            </div>
            <div class="text-center p-3">
              <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3">Book A Free Audit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mt-3">
        <div class="container px-0">
          <div class="shadow border border-shadow">
            <div class="bg-gradient border-price border text-center py-5">
              <h4>AdultBlock Plus</h4>
              <h1 class="font-weight-bold text-white">$ 4,999</h1>
              <p class="text-white mb-0">Pay once, get covered for 10 years</p>
            </div>
            <div class="px-4 py-3">
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p>Block the label across all 4 TLDs</p>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p>Premium domain name blocking</p>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p>Blocking of domains when they become available</p>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p class="">Variant labels in SMD file and Sunrise B</p>
                </div>
              </div>
              <div class="row mx-0 px-0">
                <div class="col-1 px-0">
                  <img src="../../assets/images/adult-block/Saw-com-adult-block-plus-4999-special.svg" width="16">
                </div>
                <div class="col-11 pr-0 pl-3">
                  <p class="mb-0">Unicode Variant Blocking - homoglyphs and IDN's Feature potentially tallying in the thousands for each label</p>
                </div>
              </div>
            </div>
            <div class="bg-lightdark px-5 py-3">
              <p>Labels Covered: <span class="font-weight-bold"> from 1(one) to Unlimited</span></p>
              <p class="mb-0">Protection Period: <span class="font-weight-bold"> 10 Years</span></p>
            </div>
            <div class="text-center p-3">
              <a (click)="open(content)" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3">Book A Free Audit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container border-bottom border-secondary ">  
    <div class="py-5">
      <h1 class="font-weight-bold">Frequently Asked Questions</h1>
    </div>
  </div>
  <div *ngFor="let Faq of Faqs; let i = index">
    <div id="Faq-{{ i }}" >
      <div class="container py-3 border-bottom border-secondary">
        <a  class="text-decoration-none list-collape" (click)="openContent(i)">
          <h4>{{ Faq.question }}</h4>
        </a>
        <div id="List-{{ i }}" class="list-show">{{ Faq.answer }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="isShown" id="divshow">
    <div *ngFor="let Faq of MoreFaqs; let i = index">
      <div id="MoreFaq-{{ i }}" >
        <div class="container py-3 border-bottom border-secondary">
          <a  class="text-decoration-none list-collape" (click)="openMore(i)">
            <h4>{{ Faq.question }}</h4>
          </a>
          <div id="MoreList-{{ i }}" class="list-show" [innerHTML]="Faq.answer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center mt-3">
      <a (click)="toggleShow()" class="text-secondary text-decoration-none py-3 my-3">{{isShown ? 'See less questions' : 'See all questions'}}</a>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header border-0">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
    <div class="row content-center">
      <div class="sidebar text-center">
          <h1 class="font-weight-bold mb-3">Contact Us</h1>
          <p class="">Regarding an Adult Block</p>
          <h4 class="font-weight-bold text-secondary">Call +1 (781) 281-9475</h4>
          <p class="">EST time from 9 AM to 5 PM</p>
          <p class="">Or</p>
      </div>
    </div>
    <app-contact [servicesNeeded]="'Adult Block'"></app-contact>
  </div>
</ng-template>
