<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Miscellaneous
                </h1>
                <h2 class="title-md text-secondary">First 100!</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-12">
                <img src="../../../assets/images/resources/100_oldest_domains.jpg" class="img-fluid" alt="Image" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-12 title-lg text-secondary">
                <h3>100 Oldest Domains</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Having been in the domain industry for such a long time, I have had the opportunity to work with many of the world’s best domain portfolio holders. Sometimes I think about how great it would be to have a time machine and go back and register some of the best domain names. Let’s turn back the clock and look at the first 100 domains that were ever registered. There are some great ones on the list that make total sense. It is also exciting to see the early adopters who registered their brands. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>There are also a few others on there that left me scratching my head, thinking:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <p><em>With all of those other domains available, this was the best for your organization at the time??</em></p>
                <p><em>If you look at Bell-ATL.com, ATL was an acronym for Atlantic. Why not register Atlantic, Bell, BellAtlantic all at the same time?</em></p>
                <p><em>Toad.com was registered, but not Frog or Prince?</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>It is easy to be the Monday morning quarterback – it was certainly a different time 30+ years ago! They had no idea how valuable domains would become in the age of the Internet. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>See the first 100 registered domains below:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <p>	1. 15-Mar-1985 SYMBOLICS.COM			</p>
                    <p>	2. 24-Apr-1985 BBN.COM			</p>
                    <p>	3. 24-May-1985 THINK.COM			</p>
                    <p>	4. 11-Jul-1985 MCC.COM			</p>
                    <p>	5. 30-Sep-1985 DEC.COM			</p>
                    <p>	6. 07-Nov-1985 NORTHROP.COM			</p>
                    <p>	7. 09-Jan-1986 XEROX.COM			</p>
                    <p>	8. 17-Jan-1986 SRI.COM			</p>
                    <p>	9. 03-Mar-1986 HP.COM			</p>
                    <p>	10. 05-Mar-1986 BELLCORE.COM			</p>
                    <p>	11. 19-Mar-1986 IBM.COM			</p>
                    <p>	12. 19-Mar-1986 SUN.COM			</p>
                    <p>	13. 25-Mar-1986 INTEL.COM			</p>
                    <p>	14. 25-Mar-1986 TI.COM			</p>
                    <p>	15. 25-Apr-1986 ATT.COM			</p>
                    <p>	16. 08-May-1986 GMR.COM			</p>
                    <p>	17. 08-May-1986 TEK.COM			</p>
                    <p>	18. 10-Jul-1986 FMC.COM			</p>
                    <p>	19. 10-Jul-1986 UB.COM			</p>
                    <p>	20. 05-Aug-1986 BELL-ATL.COM			</p>
                    <p>	21. 05-Aug-1986 GE.COM			</p>
                    <p>	22. 05-Aug-1986 GREBYN.COM			</p>
                    <p>	23. 05-Aug-1986 ISC.COM			</p>
                    <p>	24. 05-Aug-1986 NSC.COM			</p>
                    <p>	25. 05-Aug-1986 STARGATE.COM			</p>
                    <p>	26. 02-Sep-1986 BOEING.COM			</p>
                    <p>	27. 18-Sep-1986 ITCORP.COM			</p>
                    <p>	28. 29-Sep-1986 SIEMENS.COM			</p>
                    <p>	29. 18-Oct-1986 PYRAMID.COM			</p>
                    <p>	30. 27-Oct-1986 ALPHACDC.COM			</p>
                    <p>	31. 27-Oct-1986 BDM.COM			</p>
                    <p>	32. 27-Oct-1986 FLUKE.COM			</p>
                    <p>	33. 27-Oct-1986 INMET.COM			</p>
                    <p>	34. 27-Oct-1986 KESMAI.COM			</p>
                    <p>	35. 7-Oct-1986 MENTOR.COM			</p>
                    <p>	36. 7-Oct-1986 NEC.COM			</p>
                    <p>	37. 27-Oct-1986 RAY.COM			</p>
                    <p>	38. 27-Oct-1986 ROSEMOUNT.COM			</p>
                    <p>	39. 27-Oct-1986 VORTEX.COM			</p>
                    <p>	40. 05-Nov-1986 ALCOA.COM			</p>
                    <p>	41. 05-Nov-1986 GTE.COM			</p>
                    <p>	42. 17-Nov-1986 ADOBE.COM			</p>
                    <p>	43. 17-Nov-1986 AMD.COM			</p>
                    <p>	44. 17-Nov-1986 DAS.COM			</p>
                    <p>	45. 17-Nov-1986 DATA-IO.COM			</p>
                    <p>	46. 17-Nov-1986 OCTOPUS.COM			</p>
                    <p>	47. 17-Nov-1986 PORTAL.COM			</p>
                    <p>	48. 17-Nov-1986 TELTONE.COM			</p>
                    <p>	49. 11-Dec-1986 3COM.COM			</p>
                    <p>	50. 11-Dec-1986 AMDAHL.COM			</p>
                    <p>	51. 11-Dec-1986 CCUR.COM			</p>
                    <p>	52. 11-Dec-1986 CI.COM			</p>
                    <p>	53. 11-Dec-1986 CONVERGENT.COM			</p>
                    <p>	54. 11-Dec-1986 DG.COM			</p>
                    <p>	55. 11-Dec-1986 PEREGRINE.COM			</p>
                    <p>	56. 11-Dec-1986 QUAD.COM			</p>
                    <p>	57. 11-Dec-1986 SQ.COM			</p>
                    <p>	58. 11-Dec-1986 TANDY.COM			</p>
                    <p>	59. 11-Dec-1986 TTI.COM			</p>
                    <p>	60. 11-Dec-1986 UNISYS.COM			</p>
                    <p>	61. 19-Jan-1987 CGI.COM			</p>
                    <p>	62. 19-Jan-1987 CTS.COM			</p>
                    <p>	63. 19-Jan-1987 SPDCC.COM			</p>
                    <p>	64. 19-Feb-1987 APPLE.COM			</p>
                    <p>	65. 04-Mar-1987 NMA.COM			</p>
                    <p>	66. 04-Mar-1987 PRIME.COM			</p>
                    <p>	67. 04-Apr-1987 PHILIPS.COM			</p>
                    <p>	68. 23-Apr-1987 DATACUBE.COM			</p>
                    <p>	69. 23-Apr-1987 KAI.COM			</p>
                    <p>	70. 23-Apr-1987 TIC.COM			</p>
                    <p>	71. 23-Apr-1987 VINE.COM			</p>
                    <p>	72. 30-Apr-1987 NCR.COM			</p>
                    <p>	73. 14-May-1987 CISCO.COM			</p>
                    <p>	74. 14-May-1987 RDL.COM			</p>
                    <p>	75. 20-May-1987 SLB.COM			</p>
                    <p>	76. 27-May-1987 PARCPLACE.COM			</p>
                    <p>	77. 27-May-1987 UTC.COM			</p>
                    <p>	78. 26-Jun-1987 IDE.COM			</p>
                    <p>	79. 09-Jul-1987 TRW.COM			</p>
                    <p>	80. 13-Jul-1987 UNIPRESS.COM			</p>
                    <p>	81. 27-Jul-1987 DUPONT.COM			</p>
                    <p>	82. 27-Jul-1987 LOCKHEED.COM			</p>
                    <p>	83. 28-Jul-1987 ROSETTA.COM			</p>
                    <p>	84. 18-Aug-1987 TOAD.COM			</p>
                    <p>	85. 31-Aug-1987 QUICK.COM			</p>
                    <p>	86. 03-Sep-1987 ALLIED.COM			</p>
                    <p>	87. 03-Sep-1987 DSC.COM			</p>
                    <p>	88. 03-Sep-1987 SCO.COM			</p>
                    <p>	89. 22-Sep-1987 GENE.COM			</p>
                    <p>	90. 22-Sep-1987 KCCS.COM			</p>
                    <p>	91. 22-Sep-1987 SPECTRA.COM			</p>
                    <p>	92. 22-Sep-1987 WLK.COM			</p>
                    <p>	93. 30-Sep-1987 MENTAT.COM			</p>
                    <p>	94. 14-Oct-1987 WYSE.COM			</p>
                    <p>	95. 02-Nov-1987 CFG.COM			</p>
                    <p>	96. 09-Nov-1987 MARBLE.COM			</p>
                    <p>	97. 16-Nov-1987 CAYMAN.COM			</p>
                    <p>	97. 16-Nov-1987 ENTITY.COM			</p>
                    <p>	99. 24-Nov-1987 KSR.COM			</p>
                    <p>	100. 30-Nov-1987 NYNEXST.COM			</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
            <div class="col-lg-4"><a routerLink="/resources/misc/archive-dot-org" class="btn btn-primary-arrow">Next - Archive.org<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>
