<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Buying a Domain - Purchasing Your Domain
                </h1>
                <h2 class="title-md text-secondary">How Do I Buy a Domain Name that is Taken?</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-12">
                <img src="../../../assets/images/resources/how_to_find_owner_of_YUSbW.jpg" class="img-fluid" alt="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Many of the best domains especially in the extensions of .Com, .Net, and .Org are taken. With the new privacy laws that are being enacted across Europe and soon in the United States it will get even harder to find out who owns what domain name. You can search for the owner of the domain name on what is called “The Whois”. “The Whois” is not a single database, but shared information of registrars and registries to keep track of the registration and ownership of domains.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Due to the new privacy laws mentioned above when searching “The Whois” the results you will find will most likely be “redacted” or just not available for the public to view. At times there is a privacy style email that will forward to the current domain owner or a contact page one could use.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Like buying a home or a piece of property it is best to hire professional representation that understands the domain market, the purchase process, and the best terms for their client. At Saw.com that is our specialty.  Please <a routerLink="/contact-us">contact us</a> for a free consultation.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
            <div class="col-lg-3"><a routerLink="/resources/misc/first-100" class="btn btn-primary-arrow">Next - First 100!<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
        </div>
    </div>
</section>
