<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

    <section class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <h1 class="title-md text-secondary mb-3">
                        Good Branding Versus Not-So-Good Branding
                    </h1>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="resources-title-gradient-secondary">Good Branding</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="./assets/images/resources/wine_logo_corp.png" class="img-fluid" alt="Image" />
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                Brand name: <strong>Wine.com</strong><br>
                                Domain name: <strong>Wine.com</strong><br>
                                Email Address: <strong>Name@Wine.com</strong><br>
                            </p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="resources-title-gradient-secondary">Bad Branding</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="./assets/images/resources/cheapwine.png" class="img-fluid" alt="Image" />
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>
                                Brand name: <strong>We Sell Wine 4 Cheap</strong><br>
                                Domain name: <strong>wine4cheap.bargains</strong><br>
                                Email Address: <strong>wine4cheap@yahoo.com</strong>
                            </p>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>Which of these websites would you rather visit to purchase a bottle of wine? Just by looking at a business’s online brand, before even visiting the website, we make determinations about the quality and credibility of the business. As consumers, we have expectations for branding (Is it trustworthy? Is it high-quality? Is it easy to determine what products the business offers?) If our expectations aren’t met, we probably won’t even visit the website. </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>First impressions are crucial in business. Imagine walking on Main Street looking for a shop to buy a gift for your best friend who loves vintage clothing. If you walk by a storefront that is clean and freshly painted with a professionally designed sign that says, “Back in Time – Jerry’s Vintage Clothing and Gifts,” you’re likely to walk into the store. On the other hand, if you walk by a dimly lit store in an alley with a handwritten sign reading “Bob’s Emporium,” you probably won’t walk into the store.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 mt-5">
                    <p>To start on the right foot, your brand name, domain name, and email address should match. Think of this as the three pillars of online branding. If one pillar is missing or misaligned with the other two, your business may fall over. On the other hand, if they’re properly aligned, your business will have a strong foundation.</p>
                </div>
                <div class="col-lg-4">
                    <img src="./assets/images/resources/Online Branding Pillars.png" class="img-fluid mb-3" alt="Image" />
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                <strong>Good Branding</strong>
                            </p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <img src="./assets/images/resources/plants.png" class="img-fluid mb-5" alt="Image" />
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-8">
                            <p>
                                <strong>Plants.com</strong>
                            </p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>Premium domains like this one instill trust in potential customers. A domain that defines the industry or matches the product or service being sold is hugely valuable. As customers, we subconsciously equate good domain names with good companies.</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                <strong>Bad Branding</strong>
                            </p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="./assets/images/resources/buyplants.png" class="img-fluid mb-3" alt="Image" />
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                <strong>Buy-our-plants.net</strong>
                            </p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>If you saw this domain while browsing the web, you might assume it’s a scam or something that will give your computer a virus. We have been conditioned to trust one or two-word .com domains and distrust most anything else.</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>Bad branding happens way too often in the domain industry. Business owners sometimes don’t see the value in a premium domain and how it can affect their brand. I’d equate this to tripping over wads of cash to pick up a few pennies. While purchasing a “cheap” domain name will keep money in your pocket in the short term, it will have detrimental effects on the long-term viability of your business. You may be perceived as a second-rate business by potential customers, which will hurt your bottom line in the long run.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>Remember, as a future domain owner, you have full control of your brand and online identity. Strive to be a wine.com or plants.com.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4"><a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a></div>
                    <div class="col-lg-4"><a routerLink="/resources/buy/basics/how" class="btn btn-primary-arrow">Next - How to Find the Owner of a Domain Name<img src="./assets/images/icons/arrow-right.svg" class="img-fluid ml-1" alt="Icon right" /></a></div>
                    <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
