<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-12">
                <h1 class="title-lg text-secondary mb-3">
                    Miscellaneous
                </h1>
                <h2 class="title-md text-secondary">A (Brief) History of the Internet</h2>                             
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <p><strong>1950s</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>In 1951, the first computer designed for business use was released. The UNIVAC (Universal Automatic Computer) weighed 16,000 pounds and could perform around 1,000 calculations per second. </p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <img src="../../assets/images/resources/1950s-univac.png" class="img-fluid mb-5" alt="Image" />
                <p><a href="https://en.wikipedia.org/wiki/UNIVAC_I#/media/File:Museum_of_Science,_Boston,_MA_-_IMG_3163.JPG">image source</a></p>
            </div>
        </div>     
        <div class="row">
            <div class="col-lg-12">
                <p><strong>1960s</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>In the late 1960s, researchers at Stanford and UCLA connected two computers for the very first time. The computers were connected using ARPANET, or the Advanced Research Project Agency Network, an early packet-switching network funded by the U.S. Defense Department. After Stanford and UCLA successfully connected via ARPANET, other universities followed suit and joined the network. This was the early ancestor to the Internet.</p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <img src="../../assets/images/resources/arpanet.png" class="img-fluid mb-5" alt="Image" />
            </div>
        </div>    
        <div class="row">
            <div class="col-lg-12">
                <p>A working computer with ARPANET connectivity, circa 1970. Image Source: <a href="http://www.computerhistory.org/internethistory/1970s/">Computer History Museum</a></p>
            </div>
        </div>      
        <div class="row">
            <div class="col-lg-12">
                <p><strong>1970s</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Not long after ARPANET sent its first communications, Ray Tomlinson invented and developed electronic mail in 1971. His idea was to streamline communication between machines within an organization by  providing each computer a “name” with the “@” symbol. This essentially provided computers with an “address.” In this way, Ray Tomlinson’s invention of the email address paved the way for domain names.</p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <img src="../../assets/images/resources/ray-tom.png" class="img-fluid mb-5" alt="Image" />
                <p><a href="https://blog.shuttlecloud.com/tag/tomlinson/">https://blog.shuttlecloud.com/tag/tomlinson/</a></p>
            </div>
        </div>      
        <div class="row">
            <div class="col-lg-12">
                <p><strong>1980s</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>In the 1980s, ARPANET switched to TCP/IP (transmission control protocol/internet protocol). Under this system, each computer was provided with a unique IP address. </p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <p>During the 80s, the domain name system (DNS) was developed, which combined domain names with IP addresses. This made the Internet much more user-friendly, as users no longer had to memorize long strings of numbers. The new domain names needed to be sorted in some logical way, so top-level domains (TLDs) were introduced. They were originally separated by country, category, and organization. Seven TLDs were established in 1984, one of them being .com. Other TLDs you’re likely familiar with are .net and .org.</p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <img src="../../assets/images/resources/apple2e.png" class="img-fluid mb-5" alt="Image" />
                <p>(Image credit: Tim Cook/Twitter)</p>
            </div>
        </div>   
        <div class="row">
            <div class="col-lg-12">
                <p><strong>1990s</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>At the turn of the decade, the Internet was commercially released and was followed a year later by the invention of the World Wide Web by Tim Berners-Lee. This made the Internet accessible to every day people from their personal computers, which would have groundbreaking effects on business and society. </p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <p>Later in the decade, the NSF (National Science Foundation) awarded Network Solutions the ability to charge for domain name registration which was initially free. Domain prices began at $100 for a two-year registration.</p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <img src="../../assets/images/resources/tblee.png" class="img-fluid mb-5" alt="Image" />
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-12">
                <p><strong>2000s and Into the Present</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Excessive speculation of domain names caused the “dot-com crash,” a historic economic bubble. As a result, the Internet entered a period of recession and .com TLD sales were temporarily depressed.</p>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <p>However, the Internet has been in a boom of sorts ever since and shows no signs of slowing down. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Since 1999, 25 domain names have publicly sold for more than $5.5 million, which does not include sales that have been kept private.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>As we look to the future, it’s important to remember what the Internet was designed for in the first place. It was meant to allow for efficient sharing of information. This could include between and among organizations, between businesses and customers, or among private citizens. That is why domain names are so important – they provide an identity to a person, organization, or business, where others can easily find them and communicate with them.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a routerLink="/contact-us" class="btn btn-primary-arrow">Questions?  Chat with a Saw.com Consultant today</a>
            </div>
        </div>
    </div>
</section>
            