<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-header-resources></app-header-resources>

<section class="first-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/faq">Frequently Asked Questions</a></li>
            <li class="breadcrumb-item active">Domain Name Cost and Registration</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <ul class="list-group mb-5">
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#where-buy">
              <h2 class="faq-title-gradient">Where is the best place to buy a domain name?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#how-much">
              <h2 class="faq-title-gradient">How much is a domain name?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#how-do-i-know">
              <h2 class="faq-title-gradient">How do I know how much a domain should cost?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#does-it-matter">
              <h2 class="faq-title-gradient">Does it matter where I purchase my domain?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#which-best">
              <h2 class="faq-title-gradient">Which domain extension is best?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#org-profit">
              <h2 class="faq-title-gradient">Do .orgs have to be non-profit?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#how-many">
              <h2 class="faq-title-gradient">How many top-level domains are there?</h2>
            </a>
          </li>
          <li class="list-group-item">
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" [pageScrollAdjustHash]="true"
              href="#who-sets">
              <h2 class="faq-title-gradient">Who sets domain name prices?</h2>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="where-buy">Where is the best place to buy a domain name?</h2>
        <p>
          This is an obvious answer! Saw.com is the best place to purchase any domain. Why is that? We have a
          considerable amount
          of experience, knowledge and relationships coupled with the most cutting edge technology available today.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="how-much">How much is a domain name?</h2>
        <p>
          Domain prices vary depending on many factors similar to real-estate. The most valuable ones are already
          registered. The most inexpensive
          domains available are those that are unregistered. A .COM, .NET, .ORG will cost anywhere from ten to twenty
          dollars per year to register.
          There are many other extensions which can cost thousands of dollars to register each year. At a maximum,
          domains have sold for as much
          as <a href="https://www.godaddy.com/garage/the-top-20-most-expensive-domain-names/">millions of dollars</a>.
          Keep in mind that, no matter
          how expensive a domain is upfront, you will have to pay yearly registration fees to keep it registered. For
          more information on the factors
          that determine a domain’s price, click <a routerLink="/resources/buy/appraisals/metrics">here</a>.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="how-do-i-know">How do I know how much a domain should cost?
        </h2>
        <p>
          There are many <a routerLink="/resources/buy/appraisals/metrics">factors</a> that determine a domain’s price.
          However, the domain industry
          is constantly changing and it’s quite difficult to accurately appraise a domain without the knowledge and
          expertise gained from decades
          of experience in the industry. That is where we can help. To learn about our professional appraisal services,
          click <a routerLink="/appraisals">here</a>.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="does-it-matter">Does it matter where I purchase my domain?
        </h2>
        <p>
          Registrars each offer the same basic service – administering domain registration between ICANN and its
          customers. However, each registrar
          offers unique service features such as added security, Whois privacy, custom email, customer support, reminder
          emails, etc.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="which-best">Which domain extension is best?</h2>
        <p>
          Because business needs differ, it’s impossible to say which domain extension is “best”. It depends on what is
          best for your specific
          business needs. With that said, if your goal is to reach as many customers as you can, you can’t go wrong with
          .com, the most popular
          top-level domain (TLD). For more information about the different domain extensions, click <a
            routerLink="/resources/buy/purchasing/what">here</a>.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="org-profit">Do .orgs have to be non-profit?</h2>
        <p>
          No. .Org domain names are not legally required to be non-profit. This is a common misconception, as anyone can
          register a .org domain.
          However, most .orgs are owned by nonprofits, non-governmental organizations, or schools.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="how-many">How many top-level domains are there?</h2>
        <p>
          There are over 1,000 top-level domains in existence, from .aaa to .zw. For a list of every top-level domain,
          click <a href="http://data.iana.org/TLD/tlds-alpha-by-domain.txt">here</a>.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <h2 class="faq-title-gradient-secondary my-0" id="who-sets">Who sets domain name prices?</h2>
        <p>
          Think of domain sales as two distinct categories. <br>
          The first is the domain registration fee that needs to be paid once a year for every domain. This price varies
          by extension and registrar
          but is generally between $10 - $20. Much of the price that registrars charge goes directly to the registry
          that manages the domain name.
          For example, Verisign currently charges $7.85 per .com domain name per year. The Internet Corporation for
          Assigned Names and Numbers (ICANN)
          set limits on how much domain registries can charge for each domain name. The second is the price you pay for
          a domain that is already
          registered. For example, if you search for a domain and it is already registered or unavailable, you will need
          to make an offer to the
          owner of the domain. This price is not controlled by anyone – it is dictated by supply and demand. People pay
          high prices for things that
          they perceive to be valuable. That is how we end up with multimillion-dollar domain sales. For more
          information on the relationship
          between registries and registrars, click <a routerLink="/resources/buy/basics/reg">here</a>.
        </p>
      </div>
    </div>
  </div>
</section>
