<app-header-main></app-header-main>

<div id="carousel" class="carousel carousel-home slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background: url('../../assets/images/home/page-header.jpg') center center no-repeat; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 align-self">
                        <div class="carousel-caption">
                            <h2 class="text-uppercase font-weight-bold">Buy the perfect domain. Sell your digital inventory. Enhance your online identity.</h2>
                            <p class="lead mt-3">At Saw.com, our expert consultants leverage their decades of real-world sales experience and domain industry knowledge to provide a meaningfully personalized approach to domain brokerage.</p>
                            <a routerLink="/contact-us" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3">Free Consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="custom-section">
    <h1 class="font-weight-bold">Why SAW is the best option?</h1>
    <div class="row mt-5 mx-0">
        <div class="col-lg-6 font-weight-normal">
            <ul class="list-secondary">
                <li class="mb-3">Free consultation and preliminary brainstorming</li>
                <li class="mb-3">Access to millions of premium domains</li>
                <li class="mb-3">From A to Z, we take care of everything domain purchase/maintenance-related</li>
                <li class="mb-3">Domain sales over $400 million under our belts</li>
                <li class="mb-3">A woman-cofounded, culturally diverse and ambitious startup</li>
            </ul>                
            <a routerLink="/contact-us" class="bg-secondary text-white btn btn-rounded size-button center-mobile text-capitalize py-3 my-3">Free Consultation</a>
        </div>
        <div class="col-lg-6 pr-0 custom-tag">
            <div class="bg-secondary text-white border-left p-5">
            <p>Domain brokerage is our calling, and we are here to CLOSE deals. Unlike competitors who believe collecting an upfront fee and hiring sub-optimally trained staff to do the bare minimum suffices, the SAW.com team eats, sleeps, and breathes domains.</p>
            <p>With an average of just under 9 years of domain industry experience and 20 years of sales experience, we have the credentials, know-how, and determination required to know what needs to be done to secure the best possible sales prices for our clients. Simply put – we are hungry, experienced, and well-connected enough to understand that every opportunity counts!</p>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="custom-row">
        <h1 class="font-weight-bold my-3">Services</h1>
        <h2 class="mt-5">Domain investing</h2>
        <div class="row mx-0 text-center">
            <div class="col-lg-4 col-md-12 mt-3 p-3">
                <a routerLink="/sell-multiple" class="btn btn-default hover-white w-100 py-4">
                    <h4 class="font-weight-bold text-capitalize">Portfolio management</h4>
                </a>                
            </div>
            <div class="col-lg-4 col-md-12 mt-3 p-3">
                <a routerLink="/appraisals" class="btn btn-default hover-white w-100 py-4">
                    <h4 class="font-weight-bold text-capitalize">Appraisals</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 mt-3 p-3">                
                <a routerLink="/sell" class="btn btn-default hover-white w-100 py-4">
                    <h4 class="font-weight-bold text-capitalize">Sell domain</h4>
                </a>
            </div>
        </div>
        <h2>For your brand </h2>
        <div class="row text-center mx-0">
            <div class="col-lg-4 col-md-12 mt-3 p-3">               
                <a routerLink="/adult-block" class="btn btn-default hover-white w-100 py-4">
                    <h4 class="font-weight-bold text-capitalize">Brand Protection</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 mt-3 p-3">             
                <a routerLink="/buy" class="btn btn-default hover-white w-100 py-4">
                    <h4 class="font-weight-bold text-capitalize">Buy domain</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-12"></div>
        </div>
    </div>
</section>

<section class="bg-gradient-gray">
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Domain Buying-Oriented Services</h1>
        <div class="float-right first-tab text-center mb-5">
            <img src="../../assets/images/home/Saw-com-domain-buy-service.png" width="200">
        </div>
        <div class="float-right second-tab">
            <h4 class="font-weight-bold">Buyer Broker Representation</h4>
            <p>Have the perfect domain in mind and don't know where to start? Take advantage of our free consultation to discuss anything from the viability of your current domain choice to its fair market value. We’ll also walk through the strategy we would recommend for an effective stealth acquisition.</p>
            <a routerLink="/buy" class="text-secondary border-secondary btn btn-rounded size-button center-mobile text-capitalize py-3">Discover more</a>
        </div>
    </div>
</section>

<section class="py-0" style="height: 24px;"></section>

<section class="bg-gradient-gray">    
    <div class="custom-row overflow-auto">
        <div class="float-right first-tab text-center mb-5">
            <img src="../../assets/images/home/Saw-Com-name-your-business.png" width="200">
        </div>
        <div class="float-right second-tab">
            <h4 class="font-weight-bold">Business Naming</h4>
            <p>If you don’t yet have a clear favorite in terms of domain choices, our professional, experienced brokers are at your disposal to search our near limitless inventory of domains. One domain at a time, we’ll search until we find the right balance between your business naming needs and your budget.</p>  
            <a routerLink="/buy" class="text-secondary border-secondary btn btn-rounded size-button center-mobile text-capitalize py-3">Discover more</a>
        </div>
    </div>
</section>

<section class="py-0" style="height: 24px;"></section>

<section class="bg-gradient-gray">    
    <div class="custom-row overflow-auto">
        <div class="float-right first-tab text-center mb-5">
            <img src="../../assets/images/home/Saw-Com-domain-brand-protection.png" width="200">
        </div>
        <div class="float-right second-tab">              
            <h4 class="font-weight-bold">Domain Brand Protection</h4>
            <p>Established brands that are interested in domain name protection have come to the right place! We provide defensive registration services in addition to blocking registrations for entire extensions for protected trademarks. Speak to a consultant about your options now!</p>
            <a routerLink="/adult-block" class="text-secondary border-secondary btn btn-rounded size-button center-mobile text-capitalize py-3">Discover more</a>
        </div>
    </div>
</section>

<section>    
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Domain Brokerage</h1>
        <div class="float-right first-tab text-center mb-5">
            <img src="../../assets/images/home/Saw-Com-domain-name-brokerage.png" width="200">
        </div>
        <div class="float-right second-tab">
            <h4 class="font-weight-bold">Selling a Single Name</h4>
            <p>Have a high-ticket domain name that you are interested in selling? Apply now to see if your domain qualifies for our exclusive Domain Brokerage Service and we will get back to you with further details.</p>
            <a routerLink="/sell" class="text-secondary border-secondary btn btn-rounded size-button center-mobile text-capitalize py-3">Discover more</a>
        </div>
    </div>
</section>

<section class="bg-gradient-gray py-0" style="height: 24px;">
</section>

<section>
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Portfolio Representation</h1>
        <div class="float-right first-tab text-center mb-5">
            <img src="../../assets/images/home/Saw-Com-Portfolio-Representation.png" width="200">
        </div>
        <div class="float-right second-tab">
            <p>Investment-grade domain portfolio holders can take advantage of our white glove, hands-on approach to portfolio management. Our time-tested approach involves reviewing, qualifying, and following up with leads, which results in higher than average sales prices compared to domain industry alternatives.</p>
            <a routerLink="/sell-multiple" class="text-secondary border-secondary btn btn-rounded size-button center-mobile text-capitalize py-3">Discover more</a>
        </div>
    </div>
</section>

<section class="bg-gradient-gray py-0" style="height: 24px;">
</section>

<section>
    <div class="custom-row overflow-auto">
        <h1 class="font-weight-bold my-3">Domain Appraisals</h1>
        <div class="float-right first-tab text-center mb-5">
            <img src="../../assets/images/home/Saw-Com-Domain-Name-Appraisals.png" width="200">
        </div>
        <div class="float-right second-tab">
            <p>Starting at $199, you can proverbially rent the brain of a domain industry veteran. We will appraise your domain using a wide range of metrics: past sales, industry specifics, search volume, and much more. The end product is a multi-page appraisal report that provides insights and all supporting data. With a Saw.com appraisal, you can maximize results by understanding the true value of your asset(s).</p>
            <a routerLink="/appraisals" class="text-secondary border-secondary btn btn-rounded size-button center-mobile text-capitalize py-3">Discover more</a>
        </div>
    </div>
</section>

<section class="bg-gradient-gray">
    <div class="custom-row">
        <p>As cliché as the following statement may seem, it is too accurate not to use it: domain brokerage is not an exact science. As such, “one size fits all” approaches are sub-optimal at best. At Saw.com, it is our standpoint that this responsibility should not be entrusted to those without both real-world sales and  domain industry expertise.</p>
        <p>Trusting a novice with your valuable digital assets is something that you can simply not afford to do. More explicitly: just like you cannot afford to cut corners when running your business, cutting corners when choosing a domain broker can prove to be equally fatal. At the end of the day, your brand is on the line when acquiring domains and your financial future is on the line when selling your best digital asset(s).</p>
    </div>
</section>

<section style="height: 60px;">
</section>
